[2013-02-25 18:27] gwenn opened #1 "Error:failed to check package: could not type check"
Hello,
First, many thanks for your tool.
And, just for feedback, I've got some errors while checking some packages (building successfully):
$ errcheck github.com/gwenn/gosqlite
error:failed to check package: could not type check: /home/gwen/Projects/src/github.com/gwenn/gosqlite/cache.go:35:35: undeclared name: Stmt

$ errcheck github.com/gwenn/csvdiff
error:failed to check package: could not type

[2013-03-01 00:51] #1 closed, assigned to nobody

[2013-03-01 12:55] kavu opened #2 "Go 1.0.3 — unrecognized import path "go/types""
During the package installation I get:

[code]

[2013-03-01 18:17] #2 closed, assigned to nobody

[2013-03-01 22:19] kisielk opened #3 "Ignore functions from a particular package"
For example, instead of ignoring all of fmt the ability to ignore just the print functions would be nice.

The implementation of the matching is easy, settling on a good UI for specifying the ignores is the hard part.

[2013-03-01 22:30] kisielk opened #4 "Can't check packages whose imports are not installed"
Example from @dominikh:

[code]

[2013-03-02 14:30] AlekSi opened #6 "Support patterns (...) in command line"
From http://golang.org/cmd/go/:

[2013-03-02 19:02] #4 closed, assigned to nobody

[2013-03-02 19:09] kisielk opened #7 "Check for reassignment before use."
It would be nice to catch code such as:

[code]

This is not an error according to the compiler: http://play.golang.org/p/3DJj2e3-8L
The upcoming ssa package would likely be useful here.

[2013-03-06 23:10] kisielk opened #10 "Clean up path handling code in main()"
Make the changes from the comments in #9

[2013-03-07 06:22] #10 closed, assigned to nobody

[2013-03-07 20:46] kisielk opened #11 "Handle *ast.IndexExp"
[code]

[2013-03-08 05:01] #11 closed, assigned to nobody

[2013-03-08 17:33] kisielk opened #12 "Flag for checking assignment to the blank identifier"
Currently things like

[code]

where _ is a return of type error are considered to be explicitly ignored. In some cases it would be good to check for those, so errcheck should support a flag that enables this.

[2013-03-11 21:27] kisielk opened #15 "Import go/types from go.exp repo instead of tip"
go/types is moving once https://codereview.appspot.com/7625048 is submitted. Fix the imports.

[2013-03-11 21:39] tv42 opened #16 "Fails if anything uses cgo"
This is probably a known limitation, but I couldn't find a ticket for it, so here goes:

errcheck fails if a dependency uses cgo (has `import "C"`).

Additionally, it seems impossible to ignore this lack of "C" via -ignorepkg (or I just don't know how to use the thing).

[code]

[2013-03-12 21:22] #15 closed, assigned to kisielk

[2013-04-17 14:05] ghost opened #17 "Build fail: cannot use exprFn"
% go get github.com/kisielk/errcheck
# github.com/kisielk/errcheck

errcheck/main.go:196: cannot use exprFn (type func(ast.Expr, types.Type, interface {})) as type func(ast.Expr, types.Type, exact.Value) in field value

% go version
go version devel +58f8a30f5b78 Tue Apr 16 14:20:06 2013 -0700 linux/amd64

% uname -a
Linux Gothmaug 3.9.0-rc6 #1 SMP Mon Apr 8 14:40:41 EDT 2013 x86_64 AMD Phenom(tm)

[2013-04-17 16:31] #17 closed, assigned to nobody

[2013-05-15 00:22] pwaller opened #18 "Doesn't build with go-1.1"
[code]

[2013-05-19 17:55] #18 closed, assigned to nobody

[2013-05-24 07:55] dlintw opened #20 "index out of range by example command in Go 1.1"
go list std | grep -v cmd | xargs -n 1 ~/go/bin/errcheck -ignore 'Close|[wW]rite._|Flush|Seek|[rR]ead._'> stdlibcheck
panic: runtime error: index out of range

goroutine 1 [running]:
main.typeCheck(0xc2000acd40, 0x704298, 0x0, 0x0, 0x0, ...)
    /home/dlin/go/src/github.com/kisielk/errcheck/main.go:201 +0x1f1
main.checkFiles(0x704298, 0x0, 0x0, 0xc20006aa00, 0xc200065d40, ...)
    /home/dlin/go/sr

[2013-05-24 07:56] dlintw opened #21 "update note in README.md"
Note that errcheck depends on the go/types package which is currently only available in go tip.

I guess in Go 1.1 it works.

[2013-05-25 04:03] #21 closed, assigned to nobody

[2013-05-25 04:29] #20 closed, assigned to nobody

[2013-06-10 13:12] #3 closed, assigned to nobody

[2013-06-10 18:07] kisielk opened #24 "Fails checking go/type"
This kind of thing was supposed to be solved by the custom importer, but it doesn't seem to  help in this particular case:

[code]

Tried it with types.GcImport as well but that returns a different similar error.

[2013-06-23 06:09] #24 closed, assigned to nobody

[2013-06-27 07:24] #6 closed, assigned to nobody

[2013-07-03 19:49] kisielk opened #26 "Investigate code.google.com/p/go.tools/importer"
May simplify the machinery a bit. Need to look in to it.

[2013-07-04 16:17] #26 closed, assigned to nobody

[2013-09-03 02:54] mjibson opened #29 "Support Build Tags"
App engine apps are difficult to configure for errcheck, and don't seem to work even when that is done. My `GOPATH` is set to: `/home/mjibson/go:/home/mjibson/go_appengine/goroot`. When running `errcheck github.com/mjibson/goread/goapp`, I get the following error:

error: failed to check package github.com/mjibson/goread/goapp: could not type check: /home/mjibson/go/src/github.com/mjibson/goread/g

[2013-09-17 07:21] kisielk opened #30 "Support go and defer statements"
Not sure how to do this yet, but errcheck should be able to find errors such as:

[code]

and

[code]

where `f()` returns an error. Unfortunately when I tried to do this, it seem that go/types doesn't give a type to the call expression which is part of the go or defer statement.

[2013-09-17 18:30] #12 closed, assigned to kisielk

[2013-11-11 19:06] #30 closed, assigned to nobody

[2014-02-04 11:40] alecthomas opened #33 "Upstream change in go.tools/types"
At least, that is what it looks like:

[code]

[2014-02-04 20:12] #33 closed, assigned to nobody

[2014-03-02 17:18] Wessie opened #34 "Upstream changes in go.tools/types"
This [commit](https://code.google.com/p/go/source/detail?repo=tools&r=25990688e728e3e6279fe8473d36c6bf5174288e) changes some things in the `types.Info` struct.

The following error will fail compilation after trying to _go get github.com/kisielk/errcheck_:

[code]

[2014-03-03 00:00] #34 closed, assigned to nobody

[2014-03-15 06:14] bbigras opened #35 "code.google.com\p\go.tools\go\types\exprstring.go:80: x.Slice3 undefined"
I can't install on Windows.

[code]

[2014-03-15 15:33] #35 closed, assigned to nobody

[2014-07-04 00:01] alecthomas opened #37 "Import cycles result in an infinite loop"
Import cycles as detected by the Go tool result in errcheck getting into an infinite loop :(

[2014-07-09 00:06] Mistobaan opened #38 "errcheck is case sensitive"
Errcheck is case sensitive when searching the imported packages

[2014-07-09 00:22] #38 closed, assigned to nobody

[2014-07-23 05:50] #37 closed, assigned to nobody

[2014-07-24 13:03] chendesheng opened #40 "Build Error"
./errcheck.go:92: undefined: types.TypeAndValue

[2014-07-24 15:37] #40 closed, assigned to nobody

[2014-07-31 00:04] econoplas opened #41 "Please update import to "github.com/dominikh/go-importer""
The import for "honnef.co/go/importer" appears to be failing using go1.3 behind a firewall, presumably because an improper redirect to "github.com/dominikh/go-importer" fails.

Please consider updating the import to use the "github.com/dominikh/go-importer" directly, which is more likely to be online all the time as well.

Thanks for writing errcheck!

[2014-07-31 05:45] #41 closed, assigned to nobody

[2014-09-17 01:34] aybabtme opened #45 "Can't use errcheck with ./..."
Before #44, one could use errcheck like other go tools (`errcheck .` or `errcheck ./...`):

[code]

After #44 :

[code]

However, this way still works (fully qualified package name):

[code]

[2014-09-19 09:59] pierrre opened #46 "Does not compile with go.tools 1.3 branch"
errcheck does not compile if I use go.tools repository 1.3 branch:

[code]

It's a problem, because if you use Go 1.3, godoc requires go.tools 1.3 branch:
https://code.google.com/p/go/issues/detail?id=8769

[2014-09-19 15:54] #46 closed, assigned to nobody

[2014-10-01 19:30] kisielk opened #49 "Add separate tests for -asserts being enabled or not"

[2014-11-09 22:19] deoxxa opened #50 "Can't `go get` errcheck anymore"
[code]

[2014-11-10 13:41] #50 closed, assigned to nobody

[2014-12-09 20:19] mperham opened #53 "Can't install"
Looks like due to the recent domain change.

[code]

[2014-12-09 20:23] #53 closed, assigned to nobody

[2014-12-18 18:36] tdewolff opened #54 "Support go1.4 directory structure"
The go1.4 directory structure changed, the stdlib resides in goroot/src immedately instead of being in goroot/src/pkg

[2014-12-18 22:13] #54 closed, assigned to nobody

[2014-12-19 09:21] dmitris opened #55 "ignore defer calls"
currently errcheck finds a lot of calls like defer r.Body.Close() or defer db.Close().  Would it be possible to ignore them to make the tool's output more meaningful and get the real problems to better stand out?  Thanks!

[2015-01-07 22:02] kellydunn commented on #50
fwiw, I ran into some issues today trying to `go get` with `git 1.8.52`, but upgrading to `1.9.1` seemed to fix the issue.

[2015-01-09 19:27] kisielk commented on #45
I'd really like to keep using go/loader. There's even a patch now https://groups.google.com/d/msg/golang-codereviews/ewN5tU-4IIQ/UnnYUJ_073IJ that's going to make it concurrent, so it should be even faster for large codebases.

[2015-01-14 22:23] kisielk commented on #16
It looks like go/loader can import some cgo stuff unless it uses certain features like pkg-config

[2015-01-18 15:29] thieman commented on #45
I apologize if this is a stupid question, but is there any way currently to have `errcheck` check all of your project's modules with a single command? Or was `./..` the only way?

[2015-01-18 16:24] kisielk commented on #45
`errcheck $(go list ./...)` works.

[2015-01-18 17:33] shurcooL commented on #45
Can you use [`gotool.ImportPaths`](https://github.com/kisielk/gotool) to resolve input with import path patterns?

[2015-01-18 17:39] shurcooL commented on #45
Hmm, I see you already use `gotool.ImportPaths`, so why does `errcheck $(go list ./...)` work but not `errcheck ./...`?

It seems that `go list ./...` converts the output import paths to full import paths, while `gotool.ImportPaths` returns relative import paths:

[code]

Why doesn't `gotool.ImportPaths` return the same as `go list ./...` though? That seems unexpected.

[2015-01-18 18:11] kisielk commented on #45
That's a good question. The go tool does something more. I haven't had time
to look deep in to it unfortunately.

On Sunday, January 18, 2015, Dmitri Shuralyov <notifications@github.com>
wrote:

--
-K

[2015-01-19 12:10] oryband opened #56 "ErrCheck is slow"
Why does it take 2 seconds for ErrCheck to run on a small codebase? I wish it could be fast, so I could integrate it with Vim/Syntastic (See scrooloose/syntastic#1286) and run the check on every file save `:w`.

[2015-01-19 16:54] kisielk commented on #56
Most of the time is spent parsing and loading files, something that's out of our control. Future versions of go/loader will have parallel loading so that should speed things up on a per-package basis.

We could also make errcheck run concurrently when multiple packages are passed as arguments.

[2015-01-19 17:14] zimmski commented on #56
@oryband: Could you try https://github.com/kisielk/errcheck/pull/57 with your 2s use-case.

The problem is indeed go/loader but also the way errcheck works. It needs to load every involved package so it can determine the API of calls. I am looking at this from time to time because of #45 but I do not see an easy solution.

[2015-01-22 15:37] dmitris commented on #55
ok, let's close this

[2015-01-22 15:37] #55 closed

[2015-01-29 16:25] kisielk commented on #56
We integrated concurrent package checking last week. Can you try the latest version and see if it's fast enough for you?

[2015-02-08 22:46] alecthomas commented on #56
Anecdotally, comparing github.com/Sean-Der/errcheck and github.com/kisielk/errcheck on the same codebase, the former typically takes about 0.5 seconds and the latter takes around 2.4 seconds.

[2015-02-08 22:50] zimmski commented on #56
@alecthomas: Can you test with your use case if this is the commit https://github.com/kisielk/errcheck/commit/0ba3e8228e4772238bee75d33c4cb0c3fb2a432c which made things slow for you?

[2015-02-08 23:14] alecthomas commented on #56
I'm assuming it is that commit, as that was the purpose of Sen-Der's fork, but I can't check. I tried both reverting that commit and rolling back to the prior commit. The former resulted in many merge conflicts and the latter failed (seemingly) due to changes in go/types.

[2015-02-24 06:09] madhurranjan opened #62 "Errcheck.go line 74"
github.com/kisielk/errcheck/internal/errcheck.go:74: unknown loader.Config field 'SourceImports' in struct literal

Sorry for not sending a merge request. I am still trying to figure out how to write code. But go the following error while installing vim-go

[2015-02-24 06:53] shurcooL commented on #62
I can confirm. It's a breaking API change upstream in `golang.org/x/tools/go/loader`, commit https://github.com/golang/tools/commit/69db398fe0e69396984e3967724820c1f631e971.

Updating the code looks easy, just need to replace `SourceImports ` with `ImportFromBinary` and invert its value.

[2015-02-24 20:55] #62 closed

[2015-02-27 16:06] #45 closed

[2015-02-27 17:16] aybabtme commented on #45
yayyyy \o/

[2015-03-09 15:37] maruel opened #65 "errcheck has trouble when GOPATH contains a symlink"
It is related to an old issue #45 but I had failed to document the problem properly; here it is:

## REPRO

Preparation

    mkdir /mnt/foo/src
    cd ~
    ln -s /mnt/foo/src
    # So that ~/src is a symlink to /mnt/foo/src

I don't think putting GOROOT under a symlink is necessary for this bug to reproduce but since that's my setup, exposing this for completeness. The following should take less

[2015-03-10 18:38] maruel commented on #65
I moved both my $GOROOT and $GOPATH to not be symlinks and the problem reproduces, so it's definitely not that.
The problem only reproduces on my Ubuntu 12.04, not on OSX.
I'll close the issue in the meantime to not create noise and I'll reopen&update the issue title once I pinned down the exact root cause.

[2015-03-10 18:38] #65 closed

[2015-03-13 14:58] benbjohnson opened #66 "Ignore Test Files"
I recently ran an automated build for `boltdb/bolt` and received a bunch of `errcheck` errors that were not being shown before. It looks like `errcheck` is running against test files now. Is there anyway to set a flag to turn that off?

https://drone.io/github.com/boltdb/bolt/248

[2015-03-13 19:42] kisielk commented on #66
That's because we're now using go/loader, which loads all _test files as well. There's no flag right now, but it wouldn't be hard to add one. I think in `internal/errcheck.go` on L107 we could filter out files ending in _test.go if the flag is set. Would that work for you?

[2015-03-30 20:08] Thomasdezeeuw opened #67 "Error installing with go get"
When installing with `go get github.com/kisielk/errcheck` on Windows7 64 bit I get the following error:

`..\..\kisielk\errcheck\internal\errcheck.go:75: unknown loader.Config field 'ImportFromBinary' in struct literal`

That is all the output.

[2015-03-30 20:18] dominikh commented on #67
Use `go get -u`, you have an old version of a dependency lying around.

[2015-03-30 20:25] kisielk commented on #67
What Dominik said, the `go.tools/go/types` API has changed a few times.

[2015-03-30 20:33] #67 closed

[2015-03-31 12:11] Thomasdezeeuw commented on #67
I got a couple more error so for other people experiencing the same error you need to run `go get -u golang.org/x/tools/...`. I had some issues with the `golang.org/x/tools/astutil` package aswell, which moved to `golang.org/x/tools/ast/astutil` it seems.

[2015-03-31 13:07] dominikh commented on #67
Using `go get -u github.com/kisielk/errcheck` should update all dependencies. You shouldn't need to update the individual dependencies by hand

[2015-03-31 13:34] Thomasdezeeuw commented on #67
That didn't work for me, probably because the package moved

[2015-03-31 16:38] kisielk opened #69 "Change comma-delimited to arguments to be space-delimited"
To be more like the `go` tool.

@dominikh @shurcooL any thoughts about how we should do this? Do you think it's okay to just go ahead and change it or would it break too many things?

[2015-03-31 17:17] dominikh commented on #69
Well, we could support both (and only document the space-delimited version), unless there could actually be arguments containing commas. That way, existing setups would continue to work, but new users would switch to the new way.

[2015-03-31 17:25] kisielk commented on #69
so split on either a comma or space, whichever we see first?

[2015-04-01 16:10] shurcooL commented on #67
You might need to run `go get -u github.com/kisielk/errcheck` more than once if you get errors. This is a known bug/limitation in the go tool, see issue https://github.com/golang/go/issues/9224.

[2015-04-14 01:06] alecthomas commented on #56
More detail. It appears that if you use `./...` then this repo is fastest, so there is some constant up-front cost but after that is very fast. With the Sean-Der fork, individual directories are fast but total time with checking recursively is much slower (2.9s vs. 5.7s).

[2015-04-14 01:08] kisielk commented on #56
There's been quite a few updates since the last comment that would likely
have improved the speed as well.
On Mon, Apr 13, 2015 at 18:06 Alec Thomas <notifications@github.com> wrote:

[2015-04-14 07:53] oryband commented on #56
Hey all. I can confirm it's a lot faster now. Thanks! Next goal: Making it run automatically on every buffer save in vim, just like govet and golint. :)

[2015-04-14 07:57] kisielk commented on #56
I'm going to close this issue now, I did some profiling on a few runs and nearly all the time is taken up in go/loader especially for smaller checks. Fortunately it does some caching of imports so running it on larger sets of packages eliminates the overhead. I don't think we're going to move away from go/loader at this point, and so any performance improvements that will happen are entirely depen

[2015-04-14 07:57] #56 closed

[2015-04-17 19:21] eapache opened #70 "Latest errbit fails to compile"
`../../kisielk/errcheck/internal/errcheck.go:91: unknown loader.Config field 'ImportFromBinary' in struct literal`

[2015-04-17 19:23] eapache commented on #70
Caused by https://go-review.googlesource.com/#/c/8953/

[2015-04-17 19:32] #70 closed

[2015-05-08 03:58] alecthomas commented on #56
Further to what @kisielk described, it seems a large amount of time in go/loader is consumed by `processCgoFiles()`...

[2015-05-08 14:09] oryband commented on #56
any chance to report these issues upstream to go/loader guys?

[2015-05-11 23:41] alecthomas commented on #56
@oryband I just use [this fork](https://github.com/Sean-Der/errcheck). It's about 2x-5x faster for the common case, and there don't seem to be any functional differences (it reports the same errors).

As an aside, it's ironic that the commit message on [the change](https://github.com/kisielk/errcheck/commit/0ba3e8228e4772238bee75d33c4cb0c3fb2a432c) that introduced the performance issue is prefixed

[2015-07-03 02:07] diegobernardes opened #74 "[feature] Detect panic"
Would be nice if this project could detect unhandled panic too or at least say where the code can panic.
So we could recover and the software dosen't crash.

[2015-07-03 23:51] kisielk commented on #74
I don't think there's a general solution to this, since calls to panic() aren't the only way a goroutine could panic. You could for example dereference a nil pointer, divide by zero, have an index out of bounds error, or a number of other things. I don't think there's a general solution that would detect those possibilities.

[2015-07-04 16:14] diegobernardes commented on #74
true, forgot this cases :/

[2015-07-04 16:14] #74 closed

[2015-07-12 12:41] dmage commented on #7
Also it would be nice to catch unhandled error in this example:
[code]

[2015-07-14 00:12] kisielk commented on #7
I agree. Will have to learn about using the SSA package to figure out how
to do this. If you have any ideas or examples any help would be welcome.
On Sun, Jul 12, 2015 at 05:41 Oleg Bulatov <notifications@github.com> wrote:

[2015-07-14 21:48] runningmaster opened #75 "GO15VENDOREXPERIMENT"
Hi, is there any plans for support new env variable GO15VENDOREXPERIMENT for go1.5 in errcheck? errcheck can't recognize a package if it was placed in $GOPATH/src/vendor folder.

See also for details https://groups.google.com/forum/#!msg/golang-dev/74zjMON9glU/4lWCRDCRZg0J and https://groups.google.com/d/msg/golang-nuts/nnud1w8N3Ik/hPZx32v7DbQJ

Thank you.

[2015-07-14 22:29] kisielk commented on #75
Definitely would be good to have. I don't have a ton of time to work on it at the moment, so contributions would be most welcome, otherwise I'm not likely to get to it until it starts to bother me :)

[2015-07-14 23:16] runningmaster commented on #75
I'm sorry, probably, the error in this case inside "golang.org/x/tools/go/loader" package, because errcheck gets this error on this line https://github.com/kisielk/errcheck/blob/76bf61ee4096ee72636739d4472186b5de5641db/internal/errcheck/errcheck.go#L101

[2015-07-31 10:22] jmhodges opened #76 "ignore underscored directories"
Directories that begin with underscores (like _workspace) are ignored by most Go tools and the code inside them is not processed. This is used by godeps and other vendoring tools. Running `errcheck ./...` in a directory will have errcheck running against the code in Godeps/_workspace/src, which is undesirable in general.

[2015-07-31 10:25] jmhodges commented on #76
(I, of course, solved this with use of -ignore, but it'd be nice to Just Work™ by default. Your call, though!)

[2015-07-31 17:49] kisielk commented on #76
Hm, I just tried it and it seems to ignore them? maybe you have an old version of errcheck or `github.com/kisielk/gotool`?

[2015-07-31 18:02] jmhodges commented on #76
Shoot, that seems to have been the problem. Sorry for the noise. I didn't realize I had already had it installed.

[2015-07-31 18:02] #76 closed

[2015-07-31 18:04] kisielk commented on #76
No problem, easier than having to fix a bug :)

[2015-08-11 01:24] powerman opened #77 "defer"
Current version report lines like:
[code]
Surely, error check is missing here, but that's how defer works and how all guidelines recommend to use it. Asking user to replace it with:
[code]
is probably overkill.

[2015-08-11 02:02] kisielk commented on #77
That's why the package includes an ignore list. There are certainly cases where you wouldn't want to ignore the error returned from a deferred statement.

Granted, the ignore feature could probably be improved, suggestions are welcome (configuration file?)

[2015-08-11 02:08] powerman commented on #77
I see. Maybe it make sense to add one more option?
[code]

[2015-08-11 02:19] kisielk commented on #77
I feel like that would probably be too broad, I think the whitelist approach is a better solution.

[2015-08-11 07:53] dominikh commented on #77
See issue #55 for why ignoring all defers is a bad thing, and why there's a whole class of APIs where ignoring errors in defer leads to problems.

[2015-08-11 19:38] #77 closed

[2015-08-15 15:41] zimmski commented on #29
@mjibson Could you revisit your problem. The mentioned Go issue is already closed and errcheck supports build tags IMHO perfectly now.

[2015-09-03 19:49] adrienkohlbecker opened #80 "Support for github.com/go-errors/errors"
Hello,

Thanks for this useful tool, using it everyday. :)
We've started to use [go-errors](https://github.com/go-errors/errors) to easily get stacktraces when something goes wrong. It would be nice if errcheck could check for thoses as well.

I'm seeing an `isErrorType()` function in the code, would changing this be enough to work?
Basically, I would need to match `*errors.Error` as well as `erro

[2015-09-03 20:23] kisielk commented on #80
So do you mean you have functions which specifically return *errors.Error instead of the error interface?

[2015-09-03 20:25] adrienkohlbecker commented on #80
Yes

[2015-09-03 20:26] kisielk commented on #80
Why not just return the error interface from those functions? It's pretty unusual to have code which returns concrete error types.

[2015-09-03 20:31] adrienkohlbecker commented on #80
It's a way of enforcing that we have stack traces everywhere, all go errors are wrapped the first time they occur in our code. Like this:

[code]

[2015-09-03 20:35] kisielk commented on #80
Alright, unusual, but I can see why you'd do that. It shouldn't be hard to modify isErrorType to detect that.

[2015-09-03 21:16] #80 closed

[2015-09-03 21:17] kisielk commented on #80
That should do it.

[2015-09-03 21:18] adrienkohlbecker commented on #80
Wow, that was fast :)
Checking it out now

[2015-09-03 21:55] adrienkohlbecker commented on #80
Hey, so I does not seem to work for me. Here is a test case
It does work if I replace `*errors.Error` with `error`

[code]

[2015-09-03 22:16] kisielk commented on #80
Okay, pointers were not correctly supported. That should be fixed with the above commit.

[2015-09-03 22:47] kisielk commented on #80
Noticed one more thing wasn't being handled correctly in the case of functions with multiple returns. Fixed that as well.

[2015-09-03 23:27] adrienkohlbecker commented on #80
Thanks a lot! That works for the test case above.
I'm having another issue though: when there are multiple return parameters it does not work, here is a test case:
Again, it works when I put `error`

[code]

[2015-09-03 23:46] kisielk commented on #80
Did you pull again the second commit I added just above? It fixed exactly that issue.

[2015-09-03 23:54] adrienkohlbecker commented on #80
Ah, my bad, I had to handle something in the middle of writing my comment and I did not refresh the page before submitting.
Thank you again :)

[2015-09-04 13:46] gdm85 commented on #75
I also need this feature.

As a preliminary commit, please look at https://github.com/gdm85/gotool/commit/85637c46d0d3e240b4d2e8f253f944114d49235d

Now my question is: is there a more elegant version to match vendor'ed packages rather than modifying matchPackages() itself? e.g. somehow by referencing Go's packages instead? I have been trying to figure out a way, but didn't succeed as all reference

[2015-09-04 16:40] kisielk commented on #75
honestly I haven't even tried the vendoring features in go1.5 yet so I'm not really in a position to comment on what works or not

[2015-09-04 21:59] gdm85 commented on #75
@kisielk vendoring in go1.5 works, there are some edges to smooth but I am positive it will stick in this form (I can't say that I totally like it, but that's another topic).

I am wondering if there is a way to use as fewest lines of code to implement ``vendor`` directory support by using more of the go packages internals; otherwise, I'd just implement it in ``makePackages()`` and submit a PR

[2015-09-04 22:25] kisielk commented on #75
By vender directory support do you mean having errcheck be able to find dependancies of the package being checked in a `vendor/` directory?

What is `makePackages()` ?

[2015-09-05 00:30] dominikh commented on #75
In my opinion, the right move here is to wait for go/build, go/types and so on to support the vendor experiment. That, in the end, is how all the other tools should support it, too: by using go/build like they've always been.

[2015-09-05 00:33] kisielk commented on #75
That's kind of the conclusion I was leaning towards as well.

[2015-09-05 08:08] gdm85 commented on #75
@kisielk yes. The official specs are here: https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit
Another interesting read: https://medium.com/@freeformz/go-1-5-s-vendor-experiment-fd3e830f52c3

That was a typo, fixed. See also the commit I mentioned, that's the function I changed.

@dominikh that means for me roughly "don't use vendoring or errcheck until the Go Team

[2015-09-05 17:01] kisielk commented on #75
If we were to implement support for vendor, wouldn't it be sufficient to check if there is a `vendor/` directory in the top-level package being checked, and if so, add it to the GOPATH of the build context?

[2015-09-05 17:06] kisielk commented on #75
I guess there is still the problem of packages within the vendor directory vendoring packages themselves... that makes the whole situation quite a bit uglier. I'd rather not have to duplicate and maintain the work being done in the main go tree.

[2015-09-11 09:25] dominikh commented on #69
Right.

[2015-09-14 05:17] favadi commented on #75
:+1:, support GO15VENDOREXPERIMENT is a must.

[2015-09-15 08:33] corsc opened #81 "Question related to ignore syntax"
Sorry for the potentially dumb question.

I am trying to ignore a package but cannot seem to find the correct format.

I am running the following command in the `someone/somerepo` directory

`errcheck -asserts -ignorepkg 'github.com/someone/somerepo/fu/bar' ./...`

[2015-09-15 16:10] kisielk commented on #81
Are you trying to avoid checking that package? `-ignorepkg` is used to ignore errors returned from calls to that package, not to exclude it from being checked if it's passed in the package list.

[2015-09-16 22:29] xiaods opened #82 "could you tell me what benefit on errcheck"
i use gometalinter -e .test -e vendor -e pkg ./... with errcheck
it report many report on

[code]

but i dont know what mean for this warning. How to fix it?

[2015-09-17 04:20] kisielk commented on #82
Is that the only message it gives? There should be some source code and line number output as well.

[2015-09-21 04:53] corsc commented on #81
I see.  I was trying to avoid checking that package (its fully of generated code)

[2015-09-21 04:55] shurcooL commented on #81
Just an observation, but it's actually easier for generated code to avoid `errcheck` issues because it's generated rather than hand-written, so being more verbose isn't as hard, isn't it?

[2015-09-21 05:21] corsc commented on #81
Its not generated by my code :)  (go-bindata, thrift and ffjson generators or similar

[2015-09-21 05:22] corsc commented on #81
Thanks.  I have recently discovered the gometalinter, so I think I will use that instead of the custom scripts, etc that I was maintaining to skip the directories

[2015-09-21 05:22] #81 closed

[2015-09-22 19:02] kisielk commented on #75
The general solution for this issue is being discussed in golang/go#12278

[2015-10-16 19:01] kytrinyx opened #83 "Failed to go get - unknown loader.Config field ImportFromBinary"
Installation failed with the following message:

[code]

I'm running Go on tip:

[code]

[2015-10-16 21:27] zimmski commented on #83
Could you try a `go get -u -v github.com/kisielk/errcheck` This will update errcheck and its dependencies.

[2015-10-16 22:07] kytrinyx commented on #83
Oh, wow, that would explain it. I didn't realize that I had an old version of this lying around. Sorry about that!

[2015-10-16 22:07] #83 closed

[2015-10-16 22:22] kisielk commented on #83
It's more likely an old version of one of the dependencies. There's been a lot of churn in the location and API of the types and loader libs

[2015-10-18 10:15] zimmski commented on #66
@benbjohnson: So you are ignoring errors in your tests?

@kisielk does this sound good to you?
- Add the flag "-ignoretests"
- Add the member "WithTests bool" to "Checker"
- Forward "WithTests" as argument to "FromArgs" of go/loader

[2015-10-18 10:32] zimmski commented on #29
@kisielk: Could this be closed because the author is unresponsive?

[2015-10-18 10:39] zimmski commented on #82
@xiaods: Could you provide more information on your problem, or do you want to know what this warning means in general?

[2015-10-18 10:47] zimmski commented on #69
This may be an unpopular suggestion but why not use go-flags to do the flag parsing? It would remove most of main.go and IMHO make it also clearer to read with its struct annotation.

[2015-10-18 10:57] zimmski commented on #16
I guess this issue can be closed?

[code]

[2015-10-18 20:10] kisielk commented on #16
Looks like it, someone can always reopen if there are still problems.

[2015-10-18 20:10] #16 closed

[2015-10-18 20:10] kisielk commented on #69
That is indeed unpopular :)

[2015-10-18 20:17] shurcooL commented on #69
Why is that? I usually don't like those packages either because they're too complex (I use standard library's `flag` in my small personal projects). But I'm wondering what others' reasons are?

[2015-10-18 20:26] zimmski commented on #69
- More external dependencies that need to be fetched and maintained
- None STD packages normally have no rules against API-breaking changes
are mine but the "flag" package is the one where I constantly think that it needs more functionality. Like the functionality errcheck implements which is also implemented in other major Go commands but it is simply not shared. The help/usage output is another

[2015-10-18 21:50] kisielk commented on #69
@shurcooL I want to avoid adding any more external dependencies. I don't mind doing a little bit more work to achieve that.

[2015-10-19 03:52] mjibson commented on #29
Fine with me to close it. I'm not planning on looking into it more.

On Sun, Oct 18, 2015 at 6:32 AM, Markus Zimmermann <notifications@github.com

[2015-10-19 06:30] zimmski commented on #29
@mjibson: You just have to run `go get -u github.com/kisielk/errcheck` to update errcheck and its dependencies and then `errcheck github.com/mjibson/goread/goapp` which was you original usecase.

[2015-10-19 14:37] benbjohnson commented on #66
@zimmski Yeah, ignore what I was saying. :) I'll close the issue.

[2015-10-19 19:25] kisielk commented on #66
I think having the flag is useful...  @zimmski that sounds reasonable to me

[2015-10-19 19:26] #29 closed

[2015-10-21 12:24] zimmski commented on #49
Is this for the error types? Can you please insert an example.

[2015-10-21 15:45] kisielk commented on #49
`-types` got renamed to `-asserts`. The tests should check whether unchecked errors from assertions are reported when the flag is enabled, and that they are not when it's not.

[2015-10-21 15:49] kisielk commented on #49
If you want to work on this it shouldn't be too hard to do, see https://github.com/kisielk/errcheck/blob/master/internal/errcheck/errcheck_test.go#L15
https://github.com/kisielk/errcheck/blob/master/internal/errcheck/errcheck_test.go#L52
https://github.com/kisielk/errcheck/blob/master/internal/errcheck/errcheck_test.go#L117
for how blank identifier checking is verified.

[2015-10-21 15:52] #66 closed

[2015-10-22 08:32] zimmski commented on #49
OK you mean https://golang.org/ref/spec#Type_assertions ?

I am not too keen on doing that since I do not need it. However, you could add the label "help wanted" (or some other/new label) to this and other issues so that new/junior developers could be intrigued to do a PR.

[2015-10-22 16:21] #82 closed

[2015-10-22 17:01] #49 closed

[2015-10-26 16:29] nevet commented on #55
@dominikh could you explain why you choose to do `f.Close()` when `err` is already not nil?

[2015-10-27 06:20] dominikh commented on #55
@nevet That code of mine looks wrong. It should always call f.Close. Whether it should overwrite an already non-nil error depends on the given requirements.

[2015-12-01 00:29] adrianmacneil commented on #16
This may be obvious to some, but recording here for future searchers.

I was getting many cgo related errors (when running errcheck inside an alpine linux docker container with no gcc). Fixed them by running:

    CGO_ENABLED=1 errcheck ./...

[2015-12-05 23:01] shurcooL commented on #16
It seems surprising to me that `CGO_ENABLED=1` needs to be set in the general case. Can anyone confirm?

[2015-12-06 04:51] amacneil commented on #16
Sorry major typo there. I mean CGO_ENABLED=0. I needed to explicitly disable CGO when running errcheck, even though `go build` and `go install` could compile the project fine without gcc.

[2015-12-14 23:12] gaillard commented on #75
:+1: for getting this in

[2015-12-16 22:03] kisielk commented on #75
Looks like golang/go#12278 has been fixed now so this should work with Go tip. Can someone verify?

[2016-01-07 00:17] sclasen opened #87 "go get -u broken, due to upstream changes?"
[code]

[2016-01-07 00:30] shurcooL commented on #87
Yes, errcheck (and all Go projects still using `golang.org/x/tools/go/types`) needs to be updated to use the `go/types` and related packages in Go standard library. This applies when building using Go 1.5 and tip (you can still build as is with 1.4, but that's not permanent).

This is normal. See https://groups.google.com/forum/#!topic/golang-announce/qu_rAphYdxY for details and the announced depr

[2016-01-07 07:59] #87 closed

[2016-01-07 11:23] klauspost opened #89 "Fails to build on Go 1.4"
We use errcheck for CI tests, for instance:
https://travis-ci.org/ncw/rclone/builds/100797264

Since you require Go 1.5, should we just use another tool, if we want to support 1.4 or lower?

[2016-01-07 16:57] kisielk commented on #89
Would it help if I created a tag, and you could download the tag (instead of using go get) and build that?

[2016-01-08 00:21] kostya-sh commented on #89
I think that there is no reason to run errcheck (or any other similar tools like vet or lint) that are compiled using different versions of Go during a build. Compiling errcheck using the latest Go version and running it once would only make the build faster.

It might be convenient though ;)

[2016-01-08 00:31] kisielk commented on #89
Yeah, I also don't really see a reason why one would need to rebuild the lint tool on every build either.

[2016-01-08 00:33] kostya-sh commented on #89
I blame travis for making it too easy to do ;)

[2016-01-08 10:03] hori-ryota opened #90 "Errcheck failed with vendoring packages"
I updated errcheck today, errcheck failed for `cannot find package` that was located vendor directory. why?

`go version go1.5.2 darwin/amd64`

[2016-01-08 10:16] dominikh commented on #90
See issue #75. In short, you will need to wait for Go 1.6.

[2016-01-08 10:16] #90 closed

[2016-01-11 23:35] apriendeau commented on #75
So errcheck fails to build on go 1.6beta1. I dont know if this is related but I am also not diving too deep into it.
[code]

[2016-01-11 23:43] kostya-sh commented on #75
build.AllowVendor (present in Go 1.6beta1) has been changed to
build.IgnoreVendor on tip. This will have to wait till the next beta or rc
release.
On Jan 12, 2016 7:35 AM, "Austin Riendeau" <notifications@github.com> wrote:

[2016-01-18 20:48] gaillard commented on #75
Looks like this is still an issue with go1.6beta2.

[2016-01-19 00:03] kisielk commented on #75
What's still an issue? It looks like go/loader has been updated for 1.6 with IgnoreVendor. I haven't had an opportunity to try it out yet though.

[2016-01-26 13:05] zimmski commented on #89
People removing errcheck from their workflow? This makes me sad.

@klauspost: I do not know of any alternative for errcheck. Also, if you are using go/types from the /x packages there is no way around migrating to a newer version because of https://groups.google.com/forum/#!topic/golang-announce/qu_rAphYdxY The package(s) will be removed from the upstream repository. You are forced to upgrade to a

[2016-01-26 13:11] zimmski commented on #89
Oh, and I think we can simply close this issue. Unless we vendor the old go/types + dependencies and use them instead of the new go/types there is no way that errcheck supports something < 1.5 because of this statement: ` x/tools packages depending on 1.4 will be deleted 1 month after 1.6 has been released`

[2016-01-26 14:13] zimmski commented on #16
@amacneil: Can you please retest your problem and open up a new issue if it is still the case. Also, please include some public packages so we can test them.

[2016-01-26 16:58] kisielk commented on #89
I don't think errcheck is a good candidate for inclusion in vet because of too many false positives, and its usage is somewhat subjective. I'm pretty sure I discussed this a couple of years ago with the members of the go team.

[2016-02-02 18:41] variadico commented on #89
+1

[2016-02-05 19:06] gaillard commented on #75
i just tried to use errcheck from master, is there an update needed in this repo to take advantage of whatever was changed in go/loader?

[2016-02-05 23:19] kisielk commented on #75
did you update go/loader as well?

[2016-02-05 23:37] gaillard commented on #75
doesn't go get -u update the dependencies as well?

[2016-02-08 14:08] zimmski commented on #89
@kisielk:
I think that the errcheck functionality would be an excellent addition for Go's vet:
- Not checking an error is a "suspicious construct", at least for me.
- Vet uses flags to activate certain checks so one can always keep the errcheck functionality disabled.
- The tool is OK with false-positives (btw. can you pinpoint me to one of errcheck? I never seen one in my code) I mean just look a

[2016-02-08 14:21] klauspost commented on #89
Agree. It would be much more appropriate in [golint](https://github.com/golang/lint). go vet is for correctness, golint is for style. Ignoring errors is bad style, not inherently incorrect.

[2016-02-08 16:42] dominikh commented on #89
Any time an error is returned just to satisfy an interface, even if an error can never occur. You'll likely not check the error if working with the type directly.

If the errcheck functionality was disabled by default, it wouldn't experience enough exposure. And if it's enabled by default, false positives are really not okay. The barrier to entrance is really high there.

Also I'm pretty sure that

[2016-02-09 19:39] tduzan opened #92 "Fails to build on Go 1.5.3 on darwin/amd64"
Looks like there might be a conflict between the dependency on `golang.org/x/tools/go/types` and the built-in `go/types` in 1.5.3.  Has the functionality of the tools library been incorporated into the core?

[code]

[code]

[2016-02-09 20:48] shurcooL commented on #92
One of your dependencies is out of date. Using `-u` flag will fix that and allow it to work.

[code]

This issue is very similar to https://github.com/gengo/grpc-gateway/issues/103 (and many others like it).

[2016-02-09 21:44] tduzan commented on #92
I wish this had resolved it, but unfortunately I see the same behavior regardless of whether I pass the -u flag or not.  Also, in this case I was starting on a fresh environment so no dependencies should have been present anyhow.

[code]

[2016-02-09 22:44] shurcooL commented on #92
I just did that (when I made the comment above), and it worked without any issues for me in a fresh environment. I can reproduce it again now:

![image](https://cloud.githubusercontent.com/assets/1924134/12933146/7d888028-cf3b-11e5-991e-f45179d7ca28.png)

How can that be? Are you sure your environment is fresh?

[2016-02-10 17:49] kisielk commented on #89
Yeah, I can't find the discussion right now but I definitely remember it happening.

[2016-02-11 08:55] zimmski commented on #89
Would it make sense to propose including errcheck as an official tool in the STD or in /x/tools? My guess is that the functionality will not change besides adding stricter rules which can be turned on using command line arguments, and the project is then protected from API breaking changes.

[2016-02-11 09:07] zimmski commented on #89
I guess you are talking about something like `bytes.Buffer`? However, I strongly argue that this is a false-positive. If an interface defines that there can be an error it should be checked since that is one of the reasons to use interfaces: "Handle the interface not the implementation." The implementation can change any time and then an unhandled error of an interrface can silently become a probl

[2016-02-11 15:33] kisielk commented on #89
It's already in gometalinter and a few other similar tools. I don't really see how putting the project in to another would lessen the maintenance burden? Anyone is free to submit patches here.

There's basically no way the tool would get in to the standard distribution, the core Go team has already said they want to reduce the number of changes there. I don't really see the advantage of putting it

[2016-02-11 21:03] dominikh commented on #89
Assuming the following code:

[code]

I am *not* using the io.Writer interface, I am using the contract that the bytes.Buffer type establishes. And that contract explicitly states that "err is always nil". Ergo no future code changes, if they respect their own contract, can introduce an error return.

It would, however, not be protected from failing to work with older versions of Go, which is the

[2016-02-12 04:41] shurcooL commented on #92
@tduzan, any luck figuring out what could be different about your setup?

[2016-02-12 05:55] tduzan commented on #92
I apologize, I hadn't had an opportunity today to investigate further.  I'll reply to the issue tomorrow with more information after I troubleshoot more deeply.

[2016-02-12 20:26] tduzan commented on #92
It looks like the underlying cause is a failure for `go get` to retrieve the errcheck dependencies.  I'm unsure /why/ that's happening, but it is and has nothing to do with errcheck.  It does in fact happen in a clean GOPATH as well.  Looks like something is broken on my system with cert validation causing the issue.

[code]

I'm going to go ahead and close this issue, it doesn't appear to be an i

[2016-02-12 20:26] #92 closed

[2016-02-18 13:52] serejja opened #94 "Does not build on Go 1.6"
Just tried to go get this package with Go 1.6 and got the following:

[code]

Any chance to get this fixed soon? Thanks!

[2016-02-18 13:59] serejja commented on #94
Ok, worked fine with `go get -u` :)

[2016-02-18 13:59] #94 closed

[2016-02-24 22:53] gaillard commented on #75
anyone checked this with the 1.6 release?

[2016-02-25 11:09] toxeus commented on #75
Yes, it works now. Don't forget to recompile `errcheck` and possible dependencies with Go1.6.

[2016-02-25 14:43] tamird opened #95 "add flag to allow checking for all unused returns, not just errors"
In particular, this would be useful in [CockroachDB](https://github.com/cockroachdb/cockroach) where we have some structured error types that do not implement the Error interface for various reasons.

cc @kkaneda

[2016-02-25 14:51] kkaneda commented on #95
+1! https://github.com/kkaneda/returncheck is we have now, and the most of the code is borrowed from `errcheck`.

[2016-02-25 18:20] gaillard commented on #75
Do I need to do anything more than go get -u -f ? Because that doesn't seem to work.

[2016-03-02 08:55] toxeus commented on #75
@gaillard I have no idea if `go get -u -f` does the right thing. Assuming you only need to recompile the dependencies without actually updating them then a simple `rm -r $GOPATH/pkg` should do the job.

[2016-03-04 02:03] ryanking opened #96 "allow for not scanning some packages"
The -ignorepkg flag can ignore the usage of certain packages. I have some packages that I'd like to skip scanning altogether (like test helpers).

[2016-03-04 03:08] kisielk commented on #96
You can give errcheck a list of packages on the command line, its probably easiest to just give an explicit list of which packages you want checked.

[2016-03-04 09:11] shurcooL commented on #96
You can do something popularized by Go 1.6 like `errcheck $(go list ./... | grep -v /vendor/ | grep -v something/else/you/dont/want)`.

[2016-03-04 22:01] ryanking commented on #96
Great tip. thanks.

On Fri, Mar 4, 2016 at 1:11 AM, Dmitri Shuralyov <notifications@github.com>
wrote:

[2016-03-04 22:12] #96 closed

[2016-03-09 09:03] gaillard commented on #75
Seems to work on packages that don't have an eventual dependency on cgo. As soon as it hits one I get things like `error: failed to check packages: could not type check: couldn't load packages due to errors: ...`

[2016-03-14 14:34] mhamrle commented on #7
this tool does something similar https://github.com/gordonklaus/ineffassign . I can catch example from first comment.

[2016-03-19 07:33] gaillard commented on #75
https://github.com/golang/go/issues/13526

[2016-03-23 23:03] veqryn opened #97 "`go get -u github.com/kisielk/errcheck` fails with `use of internal package not allowed`"
Go get fails, on Windows 7 (both normal cmd and mingw), and also in Linux:
[code]

[2016-03-23 23:16] shurcooL commented on #97
What does `go version` print on the machines where it fails?

I can't reproduce (using Go 1.6):

![image](https://cloud.githubusercontent.com/assets/1924134/14003781/7ed72b48-f112-11e5-943d-937e427badd8.png)

[2016-03-23 23:47] veqryn commented on #97
On windows:
[code]

On linux: `go version go1.6 linux/amd64`

[2016-03-23 23:48] veqryn commented on #97
I have also tried deleting the src and the pkg and bin directories, and trying again, but same results.

[2016-03-24 02:12] shurcooL commented on #97
What does `go env` print?

Given you have Go 1.6 and you tried clearing `src` and `pkg` directories, I can only suspect you may have some bad environment variable or a bad installation of Go. Otherwise, it should work... I can't think of other reasons why it wouldn't.

Also, do you you use symlinks inside or around your GOPATH workspace?

[2016-03-24 17:08] kisielk commented on #97
Yeah, it works for me with a clean GOPATH, so it's definitely an environment problem on your end.

[2016-03-24 17:09] kisielk commented on #95
Seems like it might be useful in theory, not sure what the UI would look like though

[2016-03-24 17:13] kisielk commented on #89
Going to close this. I don't have any intention of maintaining support of old Go versions myself. I'd gladly merge PRs that do so in an unobtrusive matter though.

[2016-03-24 17:13] #89 closed

[2016-03-24 17:15] kisielk commented on #97
I'm going to close this issue since it's not a problem with the package. You'll probably have better luck sorting out your problem on a mailing list like golang-nuts anyway.

[2016-03-24 17:15] #97 closed

[2016-04-13 02:58] ahmetalpbalkan opened #98 "print file paths relative to pwd"
Most go tools (or go compiler itself) print file paths relative to pwd to the stdout so that for instance iTerm2 users on OS X can just Cmd+click on the filename:linenumber and it'll directly open up in their favorite IDE/editor.

There are currently two things preventing that:

1. paths are not relative to pwd
2. output is in format `path:lineno:nn` (I'm not sure what `nn` is but it should not ha

[2016-04-13 04:30] shurcooL commented on #98
The last `:nn`, is it the column number?

[2016-04-13 04:30] ahmetalpbalkan commented on #98
@shurcooL haha that makes total sense now but at the same time not so much useful?

[2016-04-13 22:19] kisielk commented on #98
How does the path being absolute keep tools from recognizing it as a path? That should make it easier if anything.

[2016-04-13 22:37] dominikh commented on #98
The column number is useful and doesn't break tools that aren't dumb.

We already have the `-abspath` flag to print absolute paths. However, I do agree that relative paths should be relative to the current working directory, not their import path, as it is now. That flaw is why we added `-abspath` originally. I didn't think to fix the actual problem and print correct relative paths.

[2016-04-13 22:52] kisielk commented on #98
How about the above fix?

[2016-04-13 22:58] ahmetalpbalkan commented on #98
@kisielk the fix works for me! thanks

it wasn't an abs path either, it was just a path relative to $GOPATH/src

[2016-04-13 22:59] #98 closed

[2016-04-13 23:01] kisielk commented on #98
@ahmetalpbalkan yeah, I realized that was the case after Dominik's comment. I just had mine printing absolute paths by default via my editor.

[2016-04-16 22:38] jsha opened #100 "Go 1.6 support?"
The README says "requires Go 1.5." Is Go 1.6 supported too?

[2016-04-16 22:47] #100 closed

[2016-04-16 22:47] dominikh commented on #100
Go 1.6 is supported as well.

[2016-05-17 23:06] jeevatkm opened #101 "errcheck should not detect "defer" with error"
It's common in go to use `defer` with `Close()` methods.
[code]
However errcheck detects this as warning.

[2016-05-19 08:14] veqryn commented on #75
This is still an issue for me.  See example below, I try to ignore the proto.EncodeVarint function, and errcheck does not ignore.  But if I add `vendor` to the front of the package name, it is successfully ignored.

[code]

[2016-05-20 18:45] kisielk opened #102 "ignore flags should understand vendored paths"
eg:

`-ignore foo/bar.F` should also ignore `vendor/foo/bar.F`

[2016-05-20 18:46] kisielk commented on #75
@veqryn seems like the `-ignore` flag needs to be more robust with regards to vendor packages.

I created #102 for tracking that issue.

I'm going to close this issue since in general the support is working. Any specific problems should get their own issues.

[2016-05-20 18:46] #75 closed

[2016-05-20 19:03] veqryn commented on #75
thx

[2016-07-12 08:33] dominikh commented on #101
This is a duplicate of of #55 and #77 – Check these two issues for why the warnings are appropriate and won't be removed.

[2016-07-12 08:33] #101 closed

[2016-07-12 14:20] jeevatkm commented on #101
@dominikh I have read those two issues. I can see you explanation but that's not a complete solution to the `defer`.

I would suggest, please think of providing an option to exclude `defer` check instead of whitelisting. It is up to user to choose the behavior that suites for their workflow, quality check, etc.

I appreciate your thoughts on `error check` is important for application but differs b

[2016-07-12 14:45] dominikh commented on #101
Providing a generic "don't check defers" mode isn't helpful. To the contrary, it is harmful, because it *will* ignore the kind of real errors that I explained in the linked issues. You're still encouraged to ignore specific functions from specific packages, not defer as a whole.

And if you do insist on ignoring defers, you can already so with basic UNIX tools: `errcheck | grep -v "defer "`.

[2016-07-12 14:55] jeevatkm commented on #101
Thanks for your response. I agree, it is not good that's why I have requested for options.

One possible option is giving something like on end of line or above the line. Then `errcheck` will not ignore that line.
[code]

above one is just a suggestion, please come up with something!

[2016-07-12 15:09] dominikh commented on #101
Littering code with comments to tell linters what to do is also not an option (there are existing issues on this, too. Search for "pragma" to find them). Can you state what precisely is the issue with the current mechanism of ignoring certain functions, via the `-ignore` flag?

[2016-07-12 15:55] jeevatkm commented on #101
Currently I don't ignore anything from `errcheck`. Only thing I couldn't do ignore certain `lines`. I'm unable to achieve it `-ignore` & `ignorepkg` option.

Because ignore helps to exclude in (I don't want to exclude entire package, entire file and globally, I want `errcheck` everything except certain lines)-
* ignore certain package or regex with-in package
* ignore globally with regex

As you s

[2016-07-12 16:19] dominikh commented on #101
It doesn't make sense to "ignore certain lines". Either a function's error should be checked, or it shouldn't. Whether the function is deferred or not doesn't change whether its error is meaningful or not. And the `-ignore` flag allows you to ignore the specific functions that don't need their errors checked.

[2016-07-12 17:27] jeevatkm commented on #101
I'm sorry, not sure what you mean?

I hope you know about code quality tool [sonarqube](http://www.sonarqube.org), it supports many programming language for code quality check. It does provide option like `// NOSONAR` at the end of line for exclusion.

[2016-07-12 17:35] dominikh commented on #101
That does not change the fact that a) an error is either always or never worth checking. That means you don't need to ignore lines, you need to ignore functions b) we (the Go community) object to the proliferation of pragmas.

[2016-07-12 17:48] jeevatkm commented on #101
I'm completely inline with `b) we (the Go community) object to the proliferation of pragmas.` 👍

do you mean exclude `Close` function?

[2016-07-12 17:53] dominikh commented on #101
Ignore the Close function of the specific type in the specific package of which  the error return does not need to be checked.

[2016-07-12 21:43] kisielk commented on #101
I agree that this has already been covered. Your example in the ticket is a good reason why defer should not be ignored. If `file.Close()` returns an error it could mean that the contents couldn't be flushed to disk and the file is corrupted, etc. That's something a program may care about. Hence `errcheck` will warn about this since it's a detail you potentially missed.

I think explicitly checkin

[2016-07-12 21:59] jeevatkm commented on #101
What I have been doing is. I leave a comment on those lines and calling function I mentioned in the [comment](https://github.com/kisielk/errcheck/issues/101#issuecomment-232062444).

[2016-07-12 22:00] kisielk commented on #101
Yeah, that works.. so no change required here.

[2016-07-19 18:34] veqryn opened #103 "go get results in unrecognized import path "golang.org/x/tools/go/loader""
Got this today:

[code]

[2016-07-19 21:16] shurcooL commented on #103
Cannot reproduce.

[code]

Can you try again? Maybe your internet had some temporary issues. https://golang.org/x/tools/go/loader?go-get=1 definitely has go-import meta tags now.

[code]

[2016-08-01 17:36] BenLubar opened #105 "support defer-but-close-early idiom"
[code]

In this case, checking the error for the deferred call to f.Close would not be needed because the file is either already closed or there is already an error when it runs.

[2016-08-01 20:33] shurcooL commented on #105
In that code, you might be closing the same file twice. Is that a valid thing to do?

[2016-08-01 20:44] BenLubar commented on #105
In the general case, no, but os.File.Close is idempotent. For any io.Closer that doesn't have side effects on Close calls after the first, this idiom makes closing things and handling errors easier. I don't remember where I first saw it.

[2016-08-03 03:08] kisielk commented on #105
I don't think the case is general enough to warrant supporting this in the tool. I think it would be pretty difficult to implement and there would be a lot of troublesome corner cases.

Besides that, the example could be split before the second `f.Close()` to return the intermediate result, and the error could still be checked in the defer.

[2016-08-08 12:16] ches commented on #75
So, this thread is a bit hard to follow, but if I'm not mistaken the original issue was not actually solved:

The solution is "use Go 1.6 so that errcheck doesn't need to explicitly support the environment variable", is that correct?

If you have a CI build that otherwise worked on Go 1.5 using `vendor/` and setting `GO15VENDOREXPERIMENT`, adding `errcheck` to it then breaks that build. It's unfor

[2016-08-08 15:44] kisielk commented on #75
Well, the fix in `go/build` for `GO15VENDOREXPERIMENT` didn't get shipped until Go 1.6 (https://github.com/golang/go/commit/0c428a56176353d52170f318e998f342b08dacd2) . In order to fix it for this tool we'd have to fork `go/build` locally for use in Go 1.5 builds. That seems like a bit of a nightmare.

Why don't you just use a version of errcheck built with Go 1.6 for your Go 1.5 CI builds?

[2016-08-09 18:53] ches commented on #75
@kisielk I see. I'll give your suggested setup a shot, thanks for the pointers.

[2016-08-12 23:57] ryanking opened #106 "support giving a file name"
I would love to use errcheck as a linter, but for that I need to be able to supply a filename rather than a module. Would you consider supporting that?

[2016-08-13 06:30] kisielk commented on #106
I'm not sure that would work. errcheck relies on `go/types` and `go/build` to analyze the code and generally that requires the entire entire package.

[2016-08-13 07:45] dominikh commented on #106
We could determine the package based on the file name, type check the whole package but only lint the provided file.

[2016-08-13 18:25] kisielk commented on #106
Ah ok, that seems reasonable. I don't think it would be too hard to add. Do you know how to find a package given a filename?

[2016-08-13 19:39] shurcooL commented on #106
Yes:

https://github.com/shurcooL/play/blob/456f0172d733e4e6730f290ed042849370c132a7/200/cmd/importpathof/main.go#L93-L103

[2016-08-13 19:54] kisielk commented on #106
Great, thanks. I figured this was something someone would have solved
already :) I'll try to whip up a patch some time soon
On Sat, Aug 13, 2016 at 12:39 Dmitri Shuralyov <notifications@github.com>
wrote:

[2016-08-13 20:01] shurcooL commented on #106
I have a question. Why can't a linter be used on an entire package at once? Why does it need to work on a single filename at a time?

For example, when I use `golint` in the terminal, I just run it on the entire package. What am I missing? Is it for running those linters inside an editor?

[2016-08-15 04:42] ryanking commented on #106
@shurcooL because the linting framework I use does a file at a time

[2016-08-15 04:43] ryanking commented on #106
@kisielk it seems that golint already handles this well:

https://github.com/golang/lint/blob/master/golint/golint.go

[2016-08-15 04:44] shurcooL commented on #106
I see.

[2016-09-15 06:16] nmiyake commented on #102
Opened PR with proposed fix + tests. Please let me know what you think -- happy to modify the approach if you have other ideas.

@dtolnay @bmoylan

[2016-09-17 21:28] #102 closed

[2016-09-24 15:37] ggeorgiev opened #110 "errcheck does not report for interface that has error as an subset"
I am using my own extended interface to return errors. It seems though that even errcheck works for struct that implement error interface it does not works for interface that is supperset of the error interface.

[2016-09-24 16:08] ggeorgiev commented on #110
Nevermind it seems to work in isolation - something else must be wrong.

By the way, this is the test that I added to check this, if you want to add it (I tried to fork, etc to make it a pull request, but it took me too long to fix all the package issues and I give up)

--- a/testdata/main.go
+++ b/testdata/main.go
@@ -43,6 +43,23 @@ func customConcreteErrorTuple() (int, MyError) {
        return

[2016-09-24 16:08] #110 closed

[2016-09-30 14:33] Wen777 opened #111 "Support ignoring vendor folder"
Since go has 1.7 version, it supports *vendor* folder for version control. However, a golang project depends on different packages and those packages don't handle error well. It would be very good if errcheck allow developers to ignore vendor folder(dependencies) and let developers focus on their own code.

![screenshot from 2016-09-30 22 21 43](https://cloud.githubusercontent.com/assets/7497207/1

[2016-10-01 02:56] shurcooL commented on #111
See https://github.com/kisielk/errcheck/issues/96#issuecomment-192196026.

This issue has come up before, and the standard way of doing this is by using an external tool. E.g.:

[code]

[2016-10-02 17:35] Wen777 commented on #111
@shurcooL Great command ! Thanks.

[2016-10-02 17:35] #111 closed

[2016-10-13 19:57] tamird opened #112 "allow ignoring methods on specific types"
For instance, database/sql has a Close() method on `*Rows`, `*DB`, and `*Stmt`. It is not currently possible to ignore one of these without ignoring the others.

cc @andreimatei

[2016-11-05 19:03] atombender opened #113 "False negatives on compilation errors"
Errcheck currently returns errors unrelated to error checking. Is it possible to remove these false negatives? Here's an example:

[code]

The code:

[code]

As you can see, the code has nothing to do with error checking. It doesn't make sense to get a _compilation_ error from errcheck; it should only run on valid code, in my opinion.

This causes a lot of redundancy when running errcheck via gome

[2016-11-05 22:29] shurcooL commented on #113
I want to agree, but if someone runs `errcheck` independently, wouldn't it be useful for it to print the reason why it failed to run (non-zero exit code) instead of no output?

Perhaps it's `gometalinter` that should not run any other tools when basic compilation fails? But that might not be ideal either, since it'd require trying to compile code before running any linters.

Just thinking out loud

[2016-11-05 22:47] atombender commented on #113
Yeah, I have a [separate issue in vscode-go](https://github.com/Microsoft/vscode-go/issues/600) about this behaviour: In my opinion, it makes no sense to lint if compilation fails. Currently, vscode-go runs compilation and linting in parallel, which results in this happening. If vscode-go didn't do this, then this issue would go away entirely.

That said, I still think the correct behaviour is to

[2016-11-05 22:51] dominikh commented on #113
gometalinter merges duplicate errors into a single line (if you pass it an optional flag, because deduplication disables streaming of output). If our output differs from that of other tools/the compiler, then we should fix that.

That would be an easier change than modifying errcheck's general behaviour for errors.

[2016-11-06 00:41] kisielk commented on #113
I'm all for improving the error messages to make it easier for other tools to parse. I'm not sure much can be done to silence the type checking errors (they're not compilation errors, they're from go/types), it's useful to report why the tool failed.

[2016-11-06 00:45] dominikh commented on #113
We can completely silence them, but I feel it'd be too confusing to hide, or summarize, those errors, for the reason @shurcooL outlined.

[2016-11-06 00:46] kisielk commented on #113
That's basically what I said in the second half of the sentence ;)

[2016-11-10 03:28] doherty opened #114 "Allow comment to suppress complaints"
If the code author knows that an error is safe to be ignored, they may omit the return, or assign to underscore, either of which could be caught by errcheck (with `-blank` in the latter case). It'd be nice if the author could add a comment that would cause errcheck to skip complaining:
[code]
This is comparable to "nolint" comments and such in other programming languages.

[2016-11-10 04:46] shurcooL commented on #114
This has been suggested and discussed in the past a couple of times (but I couldn't find any issue that was directly about this, so this isn't a duplicate).

For example, see https://github.com/kisielk/errcheck/issues/101#issuecomment-232073505 and the discussion below.

The conclusion, so far, has been that it's a bad idea to add comment directives that let you do this. Instead, a better solution

[2016-11-13 23:22] doherty commented on #114
Putting these annotations in code is superior to using `-ignore` because it is the author of the code who knows whether the check should be skipped -- not the operator of the `errcheck` tool.

If you really want to amass a global whitelist, I guess we can start doing that. [`"math/rand".Read()`](https://godoc.org/math/rand#Read) and its method counterpart always returns a nil error.

[2016-11-14 00:36] kisielk commented on #114
I like the idea of a global whitelist. I'm not sure how to implement it exactly. I suppose a map of package->function / type.Method. I think the right place to put the check would be in `ignoreCall` but it's been a long time since I've played with the types package and I don't remember how to figure out if something is a method or not and what type it belongs to.

[2016-11-14 07:11] dominikh commented on #114
A method call in the AST is an *ast.CallExpr where CallExpr.Fun is an *ast.SelectorExpr. SelectorExpr.X is your receiver (one of *ast.Ident, *ast.CompositeLit or another *ast.SelectorExpr, but it doesn't matter, TypeOf(X) will get you the type in all cases), and SelectorExpr.Sel is an *ast.Ident, which you can turn into a *types.Object via ObjectOf.

[2016-11-14 07:31] kisielk commented on #114
Ok. I think it's staring to make sense again. One thing I don't understand is why `TypeOf` returns a `*types.Basic` for packages. eg: if you have an expression like `fmt.Println` then `TypeOf(exp.X)`v gives a `*types.Basic` which prints to `"invalid type"`

But basically my idea is to have a collection keyed on the string returned by `TypeOf` and the Name field of `ObjectOf` to check each expressi

[2016-11-14 08:27] dominikh commented on #114
@kisielk Would you like me to take a stab at it, or have you already started working on it?

[2016-11-14 17:28] kisielk commented on #114
@dominikh feel free, I haven't done anything other than become familiar with some of the ast code again :)

[2016-11-14 18:29] kisielk commented on #114
Actually I just realized #107 kind of does this, but it's not complete and I'm not sure if the method it's using is valid.

[2016-11-14 18:30] dominikh commented on #114
@kisielk I am almost done with a prototype that I'll PR soon (within the hour most likely)

[2016-11-14 18:49] dominikh commented on #114
#115 for a WIP PR.

[2016-11-17 16:45] kisielk commented on #112
I think I will extend what's been done in #115 and allow the list to be modified via an input file so that specific types can be ignored. Then we'll deprecate the existing regexp based ignore facility.

[2016-11-17 16:47] #103 closed

[2016-11-18 06:50] dominikh commented on #112
I'd lean towards a flag, not a file; mainly because a file can easily be turned into a flag (via `$(cat ...)`), but the inverse isn't quite as easy.

[2016-11-18 07:01] kisielk commented on #112
Isn't there a limit to the size of an argument string that can be passed to a process?

[2016-11-18 08:09] dominikh commented on #112
POSIX requires a minimum of 4KiB for the entire argument string. Linux has a minimum of 128 KiB, but it can be higher (1/4th of the stack size). Old Cygwin had 30KB, I don't expect it to be lower now. OS X and modern FreeBSD both allow 256 KiB. Windows is stuck at a low 8 KiB.[[1]](http://www.in-ulm.de/~mascheck/various/argmax/) [[2]](https://support.microsoft.com/en-us/kb/830473)

POSIX suggests

[2016-11-18 17:47] kisielk commented on #112
That seems like it may be okay, though the limit for Windows seems like a bit on the low side. The bigger concern is with editor and other linter integration. It seems easier to have a flag that can just point to a file committed in your project repository than to figure out how to get your toolchain to open the file and pass its contents as an argument to errcheck.

[2016-11-18 17:57] dominikh commented on #112
I'm absolutely undecided here. I'd prefer if we didn't have ten different ways of ignoring things, but each tool has their own already, anyway. I'm leaving that decision up to you.

[2016-11-18 17:58] kisielk commented on #112
What do you mean by 10 different ways of ignoring things? In this one tool or between different tools?

[2016-11-18 18:01] dominikh commented on #112
Sorry, I phrased that somewhat ambiguously. I meant between tools. And I exaggerated somewhat.

My tools have their CLI based ignoring, gometalinter has some regexp based filtering, the Go tools require you to apply `grep -v` or some other form of manual filtering. But I guess it doesn't matter in the end.

[2016-11-18 18:21] kisielk commented on #112
The main reason I like this method of filtering as opposed to grep or regexp is that it is more precise, less of a chance of filtering out something you did not intend.

[2016-11-18 19:54] #112 closed

[2016-11-18 21:25] tamird commented on #95
Perhaps we could just take a list of (or file containing) "must use" types, similar to what was done in #116.

[2016-11-18 21:33] tamird commented on #7
https://github.com/dominikh/go-staticcheck catches this sort of thing, FWIW.

[2016-11-18 21:43] tamird opened #117 "Rewrite in terms of lintutil"
https://godoc.org/honnef.co/go/lint/lintutil is a neat package by @dominikh that provides a framework for writing linters like errcheck.

The main benefit of rewriting errcheck in terms of lintutil is that it would allow users to implement "meta linters" that can run many lints while traversing the AST only once. Such a thing already exists in CockroachDB (https://github.com/cockroachdb/cockroach/

[2016-11-18 21:49] dominikh commented on #117
I would hold off on that at least for now, as the API of lintutil is not stable yet and going to change in the near future.

(And, to be pedantic: the AST will still be traversed lots of times. your meta linter avoids the cost of parsing, type checking and SSA building)

[2016-11-18 21:55] tamird commented on #117
Fair enough, thanks for the correction. FWIW, the meta linter saves about
80% of the time-cost of each linter that is added to it (in my testing
against CockroachDB).

On Fri, Nov 18, 2016 at 4:49 PM, Dominik Honnef <notifications@github.com>
wrote:

[2016-11-19 15:21] dominikh commented on #117
Frankly, at this point, I'd prefer keeping lintutil internal, as I will experiment with alternative/forked SSA packages and the like, so it won't really be fit for general projects for now.

[2016-11-19 15:51] zimmski commented on #117
@dominikh: Since we are doing pretty much the same thing as your lint project internally and we have also implemented such a meta-linter as described in this issue, I would be very interested in what you are working right now? Could you ping me via mail?

[2016-11-20 15:39] dominikh commented on #117
@zimmski Sure, I've sent you an email.

[2016-11-30 04:18] sectioneight opened #118 "Doesn't seem to work with interfaces?"
[code]
Is this a known limitation? I can't seem to find any documentation.

Am I using `-exclude` wrong?

[2016-11-30 04:22] sectioneight commented on #118
Nevermind, I fixed it with
[code]
sorry for the noise :( great tool!

[2016-11-30 04:22] #118 closed

[2016-12-16 22:28] novas0x2a opened #119 "Repro for CGO errors on alpine"
I have an easy repro (and workaround) for the problem mentioned in https://github.com/kisielk/errcheck/issues/16#issuecomment-160808162 (which is also mentioned in https://github.com/alecthomas/gometalinter/issues/149) re: running errcheck in a CGO_ENABLED build on alpine.

[code]

The error's pretty inscrutable when run via GML but pretty obvious when run through errcheck directly. Now if I insta

[2016-12-18 19:29] kisielk commented on #119
I think it's because go/loader expects to load a compiled version of the package and compiles it if it's not available. It seems like the installation of Go you have doesn't have a cgo-enabled net package and so it wants to compile it, which requires gcc. At least that's my guess based on the log output.

[2016-12-18 19:30] kisielk commented on #119
I actually think this is a separate problem from #16

[2016-12-18 20:43] novas0x2a commented on #119
Ah, just to clarify:
1) I don't think it's the same problem as #16, but it is the same problem as the one in the [comment on 16 by](https://github.com/kisielk/errcheck/issues/16#issuecomment-160808162) @amacneil which was the only reference I found to the same problem I ran into. (My issue here is a direct response to @zimmski's request for a repro).
2) I think your analysis is correct, I just wan

[2016-12-18 21:43] kisielk commented on #119
Right, I agree with all that. I don't think there's a better way to fix it. Really if you are developing anything with CGO code, you should have a copy of gcc available.

[2016-12-21 21:45] v2ray commented on #114
+1 for adding per-line suppression.

The purpose for using a linter is to detect all possible issues in the code, and fix them one by one. The global whitelist may be abused, and leads to a wider range of suppression. It is essentially the same as switching off the linter completely.

I understand your concern on per-line suppression. Just want to say that global whitelist is not better at all.

[2016-12-22 01:37] kisielk commented on #114
The global whitelist is indeed switching off the linter, for functions in the whitelist.

I am still against adding any kind of suppression comments. I don't think source code should adapt to appease tools. Also comments are often ignored or not updated when changing code, which could lead to ignoring things which were not intended. It's also impossible to know at a glance what the tool is ignorin

[2016-12-22 02:29] ahmetalpbalkan opened #120 "Missing a few cases?"
It misses the following cases:

[code]

or

[code]

Is this by design?

[2016-12-22 07:22] dominikh commented on #120
The first one is on purpose, and you can use the `-blank` flag to flag errors assigned to `_`. The second one is #7

[2016-12-22 07:23] ahmetalpbalkan commented on #120
Great, thanks @dominikh.

[2016-12-22 07:23] #120 closed

[2016-12-22 10:40] v2ray commented on #114
Same applies to the whitelist.

There is a strong motivation to add a function to the whitelist (in order to suppress warnings), but there is no such motivation to regularly check the list and remove out-dated ones. There is no mechanism to get notified for behavior change of a function. As long as a function declare to return error, it may return error at a certain time. The only way to tell whet

[2016-12-22 16:24] kisielk commented on #114
Well, the purpose of the whitelist is entirely different. It's so you can whitelist functions where the error never needs to be checked. For example the `Write` method of `bytes.Buffer`. If you want to ignore a particular instance of an error, you can always assign it to the blank identifier and leave a comment. That's just as good as placing directives for the linter but without being specific to

[2017-01-11 13:19] doherty commented on #114
Please also keep in mind that not all code is public, so adding it to some whitelist in errcheck's codebase is not going to fly for those users. This effectively means they cannot use errcheck.

[2017-01-11 15:51] dominikh commented on #114
@doherty The whitelist can be extended by the user by providing a file with the appropriate patterns. You'd check in a file with those rules into your repository and use said file when invoking errcheck. There is no need to add these rules to errcheck's code base.

[2017-01-11 21:28] k3a commented on #101
Yes, please consider providing an option to disable error check in defer calls. It is 100% correct to open a file read-only and defer-Close it. The same goes for closing receiving streams. Many example and library go codes use defer x.Close and we all don't want to use CloseQuietly() just to shut the the linter up.

[2017-03-13 23:51] tamird commented on #117
Done in https://github.com/dominikh/go-tools/issues/23.

[2017-03-13 23:51] #117 closed

[2017-05-12 05:51] leighmcculloch commented on #119
I'm seeing this happen on Ubuntu after installing the go from the official download page. My installation process is [here](https://github.com/leighmcculloch/devenv/blob/70bfc55d62e991adf1b5222f9e246f2b5d531995/setup-system/install-go/install-go.sh#L1-L14) and is simply a wget of go, then go get of errcheck. I'm attempting to run errcheck on a project that does not use CGO.

[2017-08-10 02:46] mcandre opened #123 "Warn on error value assigned to _"
When code assigns an error type value to an unused variable `_`, errcheck should warn on this as well.

[2017-08-10 04:50] dominikh commented on #123
Use the `-blank` flag:

[code]

[2017-08-10 04:50] #123 closed

[2017-08-25 13:26] omarkohl opened #124 "exclude vendor dir from matching `...`"
I realize a similar feature was already proposed (and rejected) in #111 but now Go 1.9 changed the behavior of the Go tools such as "go test" and "go vet" to ignore the vendor directory when using triple dot (...) . See https://github.com/golang/go/issues/19090

How about doing the same thing for errcheck? It makes sense to have different Go tools behave similarly.

[2017-08-25 14:04] dominikh commented on #124
Related: https://github.com/kisielk/gotool/issues/16

[2017-08-29 17:33] shhsu opened #125 "Is it possible to check for re-assigned and unused error parameter?"
Hey, here's a body of a method I encountered

[code]

errcheck is unable to pick this up as an error as of now. Is it possible to ensure err being used before it's assigned to another value?

[2017-08-29 17:59] shurcooL commented on #125
`staticcheck` already detects this. (/cc @dominikh.)

[code]

Tested on [this program](https://play.golang.org/p/9grDz87mrG).

https://staticcheck.io/docs/staticcheck#checks:

[2017-08-29 18:09] shhsu commented on #125
Thanks!

[2017-08-29 18:09] #125 closed

[2017-09-05 10:23] thaolinhvu opened #126 "errcheck : Command not found"
Hello,
I am still a beginner and hope you can help me, after not finding a solution in the the other issues.

I want to compile go-bindata, but it fails.

make[1]: errcheck: Command not found
Makefile:7: recipe for target 'out/compress-nomemcopy.checked' failed
make[1]: *** [out/compress-nomecopy.checked] Error 127

After viewing the Makefile, I notice that I cannot run errcheck, how it is describ

[2017-09-05 10:53] kisielk commented on #126
If the command in the Makefile is just `errcheck` then you need to make sure the binary is in one of the paths pointed to by the `PATH` environment variable.

[2017-09-06 08:25] thaolinhvu commented on #126
Thank you very much !

[2017-09-06 08:25] #126 closed

[2017-09-08 11:50] runner-mei opened #127 "error return value not checked, but errcheck is no found."
code as follow:
[code]

run errcheck is nothing in then console.

error return value not checked
[code]

[2017-09-08 14:03] shurcooL commented on #127
Looks similar to #125. /cc @dominikh

[2017-09-08 14:06] dominikh commented on #127
Yeah, that's a duplicate of #125, which itself is a duplicate of #7 (of sorts)

[2017-09-08 14:06] #127 closed

[2017-09-13 12:59] vbogdanov opened #128 "Support for type aliases"
`expected type, found '=' (and 1 more errors)` when using type alias (go 1.9)

[2017-09-13 16:19] dominikh commented on #128
You have to build errcheck with Go 1.9 for it to understand Go 1.9 syntax.

[2017-09-13 16:19] #128 closed

[2017-09-19 14:05] jimmyfrasche opened #130 "Ignore errors whose return value is named _"
We can use `_ = f()` to explicitly ignore a returned error in code, but there is no means to specify in code that `f` never returns an error.

However, this is legal:
[code]

Explicitly naming the error return to discard mirrors the convention of assigning to discard. As a bonus, godoc lists named returns so code following this pattern is easily recognizable from its signature. (It could of course

[2017-09-21 03:59] shurcooL commented on #130
I'm not sure this is viable. Some Go code ends up giving the error return value blank identifier name for completely unrelated reasons. E.g., imagine you start with:

[code]

Then you need to add another return value of type `string`:

[code]

However, that reads poorly in terms of documentation, it's not clear what the meaning of the `string` is. So you give it a descriptive name:

[code]

That d

[2017-09-21 04:03] shurcooL commented on #130
There are two ways:

1. Don't include the `error` return value. If it's always nil, it's not needed. (Presumably, this isn't always possible, such as when implementing existing interfaces.)

2. Document that the error can can never be non-nil. An example of this in Go standard library is https://godoc.org/bytes#Buffer.Write, which says "err is always nil".

[2017-09-21 04:49] jimmyfrasche commented on #130
@shurcooL yes, the purpose is to set an enforceable convention for when you *must* return an error to satisfy a type signature, like with interfaces, but will never return an error because you do not need to.

A comment is great for people, but unless that's in a standardized format it would be hard for tools to extract that information so you end up with white lists that exist outside the codebas

[2017-09-21 04:55] shurcooL commented on #130
I'm not in agreement with that. I think using `_` instead of another variable name is a valid thing to do in some contexts, and I don't take it to mean that the value should be discarded. It's a way of not giving a return variable a name, which can be useful to avoid unwanted shadowing.

[2017-09-21 04:57] jimmyfrasche commented on #130
That's awful

[2017-09-21 04:57] #130 closed

[2017-09-21 04:59] shurcooL commented on #130
Here's an example of it being used (in good taste, IMO) in the standard library:

https://github.com/golang/go/blob/eca45997dfd6cd14a59fbdea2385f6648a0dc786/src/mime/multipart/multipart.go#L120-L126

The `int` return value is given the name `n` for documentation purposes, and `_ error` instead of `err error` is done because there's no need for it.

That code certainly does return non-nil errors, d

[2017-09-21 05:21] jimmyfrasche commented on #130
I'd send a patch to Go to fix that if it weren't such a hassle.

[2017-09-21 14:27] jimmyfrasche commented on #130
If I were reading code out loud, I'd pronounce `_ = 1 + x` as "discard one plus x" and `_ error` as "discard error".

This is the only context where you can name something `_` without sending it down a blackhole. Exploiting that fact is clever in the pejorative sense, imo.

[2017-09-29 22:44] glasser opened #131 "skip processing generated code"
There is now a "standard" header for generated code and an increasing number of tools know about it.  It would be great if errcheck ignored those files.

https://golang.org/s/generatedcode

[2017-09-29 22:45] kisielk commented on #131
I agree, if the behaviour is controllable via a flag that's off by default. I don't really have time to work on this at the moment so if you'd like to see the feature included please submit a PR.

[2017-09-29 23:34] shurcooL commented on #131
👍

In case it's helpful, there's a Go implementation of a parser for the [golang.org/s/generatedcode](https://golang.org/s/generatedcode) comment available at https://godoc.org/github.com/shurcooL/go/generated.

[2017-10-08 05:18] antifuchs opened #132 "Exclusion patterns work on embedded interfaces, not the actual type of the receiver"
I'm trying to remove one of my least favorite errcheck highlights, `defer response.Body.Close()`, which conveniently is a Close on a `ReadCloser` - a thing that doesn't cause errors I ever care about. So I added it to my `-exclude` file, like so:

[code]

Unfortunately, this code still makes errcheck signal there's an interesting error to be caught:

[code]

Does `-exclude` not work for interfaces

[2017-10-08 05:24] dominikh commented on #132
The problem here is that the method is really `(io.Closer).Close` due to the way embedded interfaces work. Excluding that method does work.

[2017-10-08 05:34] antifuchs commented on #132
Hrm, that's a bit more wide-ranging than I'd like, but probably worth using considering that I would like to cut down on the number of lints that I ignore in idiomatic code. Would it be possible to issue a warning if an excluded function name can never match?

[2017-10-08 05:40] dominikh commented on #132
I'll leave this issue open in case someone wants to work on improving the exclusion matching to look at the receiver type in a way a human would expect (i.e. io.ReadCloser in this case)

I don't think a warning is a good idea in general. People are likely to share exclusion lists for different packages or projects, and the method sets can vary.

[2017-11-11 10:12] roadrunner commented on #119
@leighmcculloch, same here for alpine images

when not using cgo at all, it's sad to explicitly tell `disable cgo`

[2017-11-19 08:17] leighmcculloch commented on #119
I'm now using Go1.9 on Ubuntu with revision b1445a9dd8285a50c6d1661d16f0a9ceb08125f7 of errcheck and I no longer have this issue.

[2018-01-02 05:42] afeld commented on #55
Here's what I ended up doing:

[code]

[2018-02-21 03:27] mcandre opened #134 "Tag and release a stable version (1.0?)"
Thank you for publishing your wonderfully helpful errcheck system for identifying sensitive Go code! Could we get a git tag and release version, say v1.0, for this project? That way, developers can have confidence that they are using a specific version of errcheck, in case of any future changes that might break backwards compatibility.

[2018-02-21 05:35] kisielk commented on #134
Definitely. It’s long overdue. Will do that soon.

[2018-02-21 19:02] kisielk commented on #134
v1.0.0 has been tagges

[2018-02-21 19:02] #134 closed

[2018-03-06 19:47] kevinburke opened #136 "ignore strings.Builder.WriteString"
strings.Builder.WriteString always returns a nil error, per the documentation:

[code]

via https://godoc.org/strings#Builder.WriteString.

Currently, errcheck flags me for not checking the error there.

[2018-03-06 19:51] kevinburke commented on #136
Oh, yuck, I think my CI environment may have cached an old version of errcheck.

[2018-03-06 19:53] kisielk commented on #136
No problem. I just tagged v1.0.1 as well to include that fix.

[2018-03-06 19:53] #136 closed

[2018-03-30 15:45] cheapRoc commented on #105
AFAIC this issue should still be addressed in some fashion. [`github.com/jackc/pgx`](http://github.com/jackc/pgx) also has an idempotent function `tx.Rollback()` which is used to roll back a transaction after 15 mins using a `context.Context` timer. From the docs...

[code]

If the function succeeds than this defer statement returns a specific error which is safe to ignore. Otherwise, there is no

[2018-03-30 18:14] cheapRoc commented on #105
In my case it looks like I'm able to remove these by using `gometalinter`.

[code]

On second thought, I could see the point of not adding this feature to `errcheck`.

[2018-04-23 17:46] alexflint opened #138 "Make it possible to put errcheck excluded functions into .gometalinter.json"
Currently I have a .gometalinter.json file that includes this line:
[code]
and then I have a separate "errcheck-excludes" file with a list of excluded function names. It would be nice to simply embed this list straight into my `.gometalinter.json` file and avoid a proliferation of lint config files, as in:
[code]

[2018-04-23 18:05] kisielk commented on #138
That sounds more like a request for `gometalinter` than for `errcheck`

[2018-04-23 18:12] alexflint opened #139 "Example of ignoring functions outside standard library"
I am attempting to add the function "Println" in the package github.com/kr/pretty to my errcheck ignore file. However, none of the following lines result in the error being excluded:

[code]

The command I'm using is (and I can successfully ignore other functions inside the standard library):
[code]

The error I see is:
[code]

The function signature is:
[code]

[2018-04-23 18:14] kisielk commented on #139
hm, maybe it would be useful if there was a flag for also printing the function name alongside the line so that it was easier to make the excludes.

[2018-05-05 13:24] nhooyr opened #140 "should not by default allow ignoring an error from fmt.Fprintf"
fmt.Fprintf can be used with any reader and such a reader could potentially error.

[2018-05-07 18:09] kisielk commented on #140
errcheck doesn't ignore errors from fmt.Fprintf by default

[2018-05-07 18:15] nhooyr commented on #140
It does afaik? https://github.com/kisielk/errcheck/blob/8050dd7cc11578becd8622667107bb21a7baf451/main.go#L144

That matches all symbols in the fmt package.

[2018-05-07 18:40] kisielk commented on #140
I think the only functions from that package that should be ignored are:

`fmt.Errorf`, `fmt.Print`, `fmt.Printf`, `fmt.Println`

[2018-05-17 00:34] sandro commented on #106
Hi 👋
Any updates on this?

[2018-05-17 17:22] #140 closed, assigned to nobody

[2018-05-17 17:28] kisielk commented on #124
Is this fixed as a result of the gotool change?

[2018-05-17 17:29] kisielk commented on #119
Closing since it seems this was resolved.

[2018-05-17 17:29] #119 closed

[2018-05-17 17:30] #114 closed

[2018-05-17 17:30] #113 closed

[2018-05-17 17:35] #69 closed

[2018-05-17 20:18] shurcooL commented on #124
That's right. As of https://github.com/kisielk/gotool/issues/16 being resolved, `gotool` will not include `vendor` when expanding `...` on Go 1.9 and later.

[2018-05-17 21:09] #124 closed

[2018-05-26 07:00] shivansh opened #143 "errcheck *might* be reporting invalid errors in Fprintf() statements"
On updating to the recent version of errcheck, I've been encountering errors concerning `Fprintf()` statements.

One such instance -

[code]
For the above segment of code errcheck reports -
[code]

I'm not sure I understand what might be wrong with the above print statement. Weirdly enough, similar errors are encountered when errcheck is run on its own source.

Any input will be appreciated.

[2018-05-26 07:04] kisielk commented on #143
`fmt.Fprintf` can return an error, especially if the first argument is a file handle or network connection, hence errcheck reports unchecked errors on it.

You can either ignore specific cases by assigning the error to the blank identifier `_` or else you can add `fmt.Fprintf` to your ignore list if you never want to check it.

Prior versions of errcheck ignored all errors from functions in the `f

[2018-05-26 07:05] shivansh commented on #143
Ah, I see.
Thanks a lot!

[2018-05-26 07:05] #143 closed

[2018-05-28 04:47] dominikh commented on #143
@leighmcculloch Definitely a good idea.

[2018-05-29 23:41] henvic commented on #140
@kisielk,

Any considerations on adding fmt.Fprint* when io.Writer = os.Stderr | os.Stdout to the ignore list?

[2018-05-30 02:13] shivansh commented on #143
@leighmcculloch

This seems like a nice idea. Although I'm not sure it will be justified to impose such a restriction on users who do want a thorough error checking, including the print statements being described. I guess a better approach can be to add support for specifying statements like following in the ignore list -

[code]

_I haven't checked whether errcheck already supports this._

This w

[2018-05-31 03:32] leighmcculloch commented on #143
I was initially thinking of just hardcoding that behavior, but you're right it really should be configurable. Doing it in a way that is configurable would require significantly more effort. I've decided to just address the issue with `_ =` in the project that was impacted and I'm going to abandon this issue as I don't think the effort to value is really there.

[2018-06-26 09:24] elad661 opened #144 "Please add an option to ignore errors using a comment in the source file"
Hi,

I really liked errcheck, it looks like a very useful tool, thanks for making it!

My codebase has a lot of errors that can be safely ignored, and others that were unchecked by mistake. Adding them all to the exclude file would be difficult work.

Would it be possible to add a functionality to indicate "I know what I'm doing" in a comment before a line with an unhanded error to make errcheck i

[2018-07-01 20:13] #131 closed

[2018-07-05 10:41] alecthomas commented on #144
If you use gometalinter or golangci-lint (which include errcheck), they both support `// nolint: errcheck` directives.

[2018-07-05 20:26] #144 closed, assigned to nobody

[2018-07-05 20:41] dominikh commented on #144
The real solution to this isn't to add magic comments that will be used on 1/4th of all method calls. The real solution is to emit fewer false positives. The built-in ignore patterns for the standard library are a good start, and my own errcheck (TBA) will approach the problem in a different way alltogether.

[2018-07-19 09:12] JensRantil opened #147 "Ignore underscore assignment?"
Have you considered allowing excluding

    _, _ := file.Write(something)

as it kind of explicitly ignores an error?

[2018-07-19 09:21] dominikh commented on #147
That's precisely how errcheck behaves by default. Unless you specify the `-blank` flag, errors assigned to `_` are considered okay.

[2018-07-19 09:22] #147 closed

[2018-08-07 17:49] kisielk opened #149 "Add a flag to allow errcheck to run even if typechecking the initial package fails"
According to
https://github.com/kisielk/errcheck/pull/148#issuecomment-409669436 it should be possible to allow errcheck to continue even if the initial package typecheck fails. This shouldn't be the default but it should be allowable via a flag.

[2018-08-07 18:34] kixelated opened #150 "Could not import code (no metadata)"
Hey guys, my deploy script that runs `go get -u github.com/kisielk/errcheck` just broke. Heh of course there was a merge to master just 30 minutes ago.

I'm running go 1.10. This is an internal repository so I can't provide much additional information:

[code]

My `_test.go` files declare `package cache_test` while the rest are `package cache`. I do this for blackbox testing and I haven't heard an

[2018-08-07 18:53] dominikh commented on #150
#148 shouldn't have been merged like that. go/packages only fully works with the upcoming Go 1.11 and Go 1.10.4 – for earlier versions of Go, including the current 1.10.3, it uses a fallback. And that fallback doesn't fully support package tests.

[2018-08-07 18:59] nbyarnell commented on #150
Normally I wouldn't verbally +1 this but this is a small project - I'm running Go 1.10.3 and I'm also experiencing failures with master.

[2018-08-07 19:01] dominikh commented on #150
I have undone the merge to fix everyone's builds. I'll let @kisielk sort out the rest.

[2018-08-15 15:16] mxinden opened #151 "How to ignore error returned by local function"
How can I ignore the error returned by the local function `myLocalFunc`?

`main.go`:
[code]
(https://play.golang.org/p/WClnCYmq4ne)

`ignore.txt`:
[code]

`errcheck` output:
[code]

errcheck version 1787c4bee836470bf45018cfbc783650db3c6501

[2018-08-20 14:49] mxinden commented on #151
@kisielk friendly ping.

[2018-08-25 06:44] scode opened #152 "vgo module support incomplete: transitive dependencies not found"
I know that module support was [recently added](https://github.com/kisielk/errcheck/commit/2d6afb3b0897b64a2ef1ffef3e765f8018e4a895). However, I think there remains a problem.

[This PR](https://github.com/scode/goutil/pull/4) against a trivial library demonstrates the problem. I'm adding an external dependency (logrus) which in turn depends on other libraries. Errcheck fails as such:

[code]

I s

[2018-08-25 06:46] dominikh commented on #152
Module support was [just as recently removed](https://github.com/kisielk/errcheck/commit/1787c4bee836470bf45018cfbc783650db3c6501)

I wouldn't expect errcheck to work with modules at all right now. And fully porting to go/packages is still blocked on upstream.

[2018-08-25 07:28] dominikh commented on #152
Closing in favour of #150

[2018-08-25 07:28] #152 closed

[2018-09-03 15:12] elithrar opened #153 "Re-run Travis CI"
The build is showing as failing, as it looks like one of the build jobs stalled: https://travis-ci.org/kisielk/errcheck/jobs/413263572

[2018-09-03 16:08] kisielk commented on #153
All is good now

[2018-09-26 11:26] mmatczuk opened #154 "errcheck does not work with function types"
Version: 1787c4bee836470bf45018cfbc783650db3c6501

Given a package with function type and another function that accepts and calls the function when the passed function is called the result is not checked.

Example:

[code]

reports no errors.

Expected to see an error on  line `c, _ := p(0)`.

[2018-09-26 22:54] dominikh commented on #154
You have to use the `-blank` flag if you want assignments to `_` to be treated as unchecked errors.

[2018-09-26 22:54] #154 closed

[2018-09-27 07:48] mmatczuk commented on #154
Thanks @dominikh, you are absolutely right!

[2018-10-17 13:42] kispaljr opened #155 "Incomplete support for go modules"
I am trying to use `errcheck` outside of `$GOPATH` in a project using go modules, but it reports import problems. More precisely it reports that modules downloaded into `$GOPATH/pkg/mod` cannot find their imported dependencies, because `errcheck` is looking for them under `$GOROOT`/`$GOPATH`, instead of `$GOPATH/pkg/mod`.

[code]
I am using the latest commit in the master branch (`commit 1787c4b

[2018-10-31 09:46] domgreen commented on #155
Seems like the PR #148  has been reverted, probably as when checking out the commits it didnt build.

[2018-11-15 20:16] tschellenbach commented on #155
+1

[2018-11-27 20:48] elithrar opened #158 "ccccccjgjvtehhuigvkdnctrktdjdihjivutcktbukee"

[2018-11-27 21:11] #158 closed

[2018-12-20 02:50] peter-edge commented on #155
When can we get this un-reverted? :-)

[2018-12-20 03:58] dominikh commented on #155
@kisielk

[2018-12-24 04:12] nmiyake commented on #155
Can anyone provide context on why the previous PR was reverted/what needs to be done for it to get accepted? I didn't see any information on this in the revert commit. Is the fix noted at https://github.com/kisielk/errcheck/pull/148#issuecomment-434626770 sufficient, or are there larger issues that need to be addressed?

I'm interested in seeing this issue fixed and would be happy to contribute wo

[2018-12-26 00:01] coopernurse commented on #155
I built `errcheck` using @domgreen's fork here: https://github.com/domgreen/errcheck/commits/revert_and_fix and can confirm that fixed my issues with Go 1.11 modules.

I don't see an open PR for this branch though. I see this PR was closed: https://github.com/kisielk/errcheck/pull/156

Is there more work to do here?

[2018-12-26 00:31] peter-edge commented on #155
A lot of us super appreciate the work that @kisielk has done here (and your work too, @dominikh) and we rely on it every day. Anything we can do to get this fixed ASAP would be great, it’s going to become a bigger and bigger issue as more people convert to Golang modules.

[2018-12-26 00:34] peter-edge commented on #155
Speaking for myself, I have errcheck (and staticcheck, unused @dominikh) commented out in https://github.com/uber/prototool/blob/dev/Makefile which is not a state I want this repository to be in - errcheck and staticcheck specifically have saved me a bunch of times

[2018-12-26 00:36] dominikh commented on #155
I can't speak for @kisielk, but if someone sends a working PR with proper go/packages support for errcheck, it'll likely get merged quickly.

Otherwise I can probably take a look at it myself after I've sorted out my own tools.

[2018-12-26 22:32] coopernurse commented on #155
Cool, well I just opened this: https://github.com/kisielk/errcheck/pull/159 based on @domgreen's fork.  I removed the `vendor` dir and `errcheck` binary that he had committed, but otherwise it's unchanged.

Do others want to checkout this branch and try it?  I only tested it with a single Go project using go 1.11.4, so I'm not sure if there are lurking issues.

[2018-12-26 23:32] peter-edge commented on #155
I checked out your branch and installed the binary, and tested it against github.com/uber/prototool, checked out outside of my `GOPATH`, and it works, FYI.

[2019-01-03 18:17] #155 closed

[2019-01-09 16:58] egonk opened #161 "fmt.Print* should be checked for errors"
Use case: command line apps that write actual data on stdout (not just logs), error on write indicates that the data processing should stop or report error on stderr. e.g. "cat"

If my reading of stdlib docs & code is correct, fmt.Print* may return errors just like fmt.Fprint*(os.Stderr) for example.

Possible solutions

1. remove fmt.Print* from exclude list, cons: most correct (IMO) but annoyanc

[2019-01-09 17:39] kisielk commented on #161
I think that in 99.99% of cases flagging missing error returns from `fmt.Printf` is a nuisance. For the other cases I think we could add a flag to discard to built-in list and only use explicitly-provided ignores.

[2019-01-09 17:40] kisielk commented on #161
I propose calling the flag `-exclude-only`

[2019-01-09 17:52] egonk commented on #161
Ok. Maintained built-in list is very useful otherwise, we use buffers a lot for example. I would prefer not to lose it :)

[2019-01-09 18:08] kisielk commented on #161
Sure, but you could always copy it to your custom list

[2019-01-10 14:05] egonk commented on #161
... or just vendor errcheck (I do that already) and change the default excludes so it's available out of the box, but that's what I wanted to avoid. I assumed there might be some interest in strict mode, but maybe there isn't. Instead of -strict flag, this would be more future-proof:
[code]

[2019-01-10 20:07] RaduBerinde opened #162 "v1.2.0 enters infinite loop"
Running `errcheck` on the CockroachDB code.

With errcheck v1.1.0:
[code]

With v1.2.0, the same command doesn't finish (I waited 10 minutes). I also notice that a single core is pinned at 100% while it's running.

[2019-01-11 17:53] RaduBerinde commented on #162
This was with go 1.10.

[2019-01-11 22:41] RaduBerinde commented on #162
Looks like it works fine with go 1.11. Possibly related to https://github.com/golang/go/issues/29427

[2019-02-25 22:13] mcandre opened #163 "Enhancement: Prefix output lines with "errcheck: ""
When errcheck is run by itself, it is clear to the user how to react to the linter warnings. However, when errcheck is executed as part of a larger suite of linters, then seeing `hello.go:33:15:	defer f.Close()` is not enough context to know what the programmer should do with this line, because the context of which linter or warning type is missing.

Can we add a prefix like `errcheck:` to disambi

[2019-03-15 21:51] mcandre opened #164 "errcheck ignores applications"
errcheck does a good job enforcing error value checks for Go library code. However, errcheck currently ignores applications, such as net/http `ListenAndServe()` calls in `cmd/myserver/main.go`, which leads to risky code in Go binaries.

Please make sure that application code is scanned as well as library code.

[2019-05-01 22:35] vitarb opened #165 "Migrating errcheck to go/analysis"
It looks like [x/tools/go/analysis](https://godoc.org/golang.org/x/tools/go/analysis) is [quickly becoming](https://godoc.org/golang.org/x/tools/go/analysis/passes) a new standard for writing static analysis in go. Being natively supported by tools like bazel's [nogo](https://github.com/bazelbuild/rules_go/blob/master/go/nogo.rst) it provides invaluable ability to unify all linters and perform sta

[2019-05-02 10:19] larytet opened #166 "Warn if defer calls a function returning a closure if there is trailing ()"
For example

[code]

[2019-05-02 20:10] larytet commented on #166
I have posted the question https://github.com/golang/lint/issues/451

[2019-05-02 20:11] #166 closed

[2019-05-04 18:29] dominikh commented on #163
It is the job of whatever is running multiple linters to prefix, suffix or otherwise annotate the output of individual linters to make it clear where output is coming from.

[2019-05-04 18:29] #163 closed

[2019-05-15 21:18] Oscil8 opened #167 "Latest changes seem to have broken support for go 1.9, 1.10"
I see errors like
[code]

You probably want to either update the documentation or fix this.

[2019-05-15 21:53] dominikh commented on #167
go/packages, a core dependency of errcheck, supports the last two versions of Go. We should update errcheck's documentation to reflect that.

[2019-07-09 03:37] mcandre commented on #95
+1000

Programmers should at minimum verify the bool multivalue for typecasts, and for hashmap lookups. Glitches there can cause many an unnecessary panic.

[2019-08-09 03:52] Higan opened #169 "Fail to install errorcheck with go get"
After installing with `go get -u github.com/kisielk/errcheck`, I got the following info:

``` There is no tracking information for the current branch. Please specify which branch you want to merge with.```

and I found nothing in `\github.com\kisielk\errcheck`

[2019-09-02 06:45] bobotu opened #170 "Cannot handle packages which contains asm file"
Errcheck returns error when processing packge contains an empty asm file

[code]

It seems like a bug in golang's tools,
I have tried to use the latest version of `golang.org/x/tools` and this error goes away.

[2019-09-12 12:24] nchelluri opened #171 "Feature Request: When using database/sql's Rows type, rows.Err() must be called"
I have a feature request: It would be nice if the linter saw that I forgot to respect the protocol of the `Rows` `struct` and didn't call `rows.Err()` to check if there was an error during iteration through the SQL rows.

Please see this attached sample program:
[code]

If I run `errcheck` on it, I don't see any errors:

[code]

However, you can see that I forgot to check `rows.Err()`. It would be

[2019-11-06 14:20] ainar-g opened #174 "find errors ignored in type switches"
<p>
I'm still not sure if this is closer to <code>errcheck</code> or to
<code>ineffassign</code>.  I often have this issue when working with
dynamically-typed APIs:
</p>

[code]

<p>
I think that this is something <code>errcheck</code> (or
<code>ineffassign</code>?) should be able to find and mark.  It's very
close to doing something like:
</p>

[code]

<p>
<a href="https://play.golang.org/p/Wk0r5

[2020-01-22 10:12] judwhite opened #176 "Ignore io.Copy when first param is ioutil.Discard"
I have this code as part of handling an HTTP call with a non 2xx status code, and in this case I don't care about the content but need to drain the buffer for keep-alive reasons:

[code]

Questions:
1. Is it reasonable to ignore an error returned from `io.Copy(ioutil.Discard, ...)`? If not, I'm happy to learn why not.
2. I noticed there's a way to ignore certain functions only if the first paramet

[2020-01-23 06:36] judwhite commented on #176
Solved with `grep -v` :smile:

[2020-01-23 06:36] #176 closed

[2020-05-19 14:33] tymonx commented on #139
I have a similar issue with that. The `-v` is not present and the `-verbose` flag is not useful. I cannot get how to properly exclude some methods.

[2020-06-19 18:21] dragonsinth commented on #161
I might argue that code writers should consider explicitly FPrint-ing to os.Stdout in these cases.

[2020-06-19 20:24] #139 closed

[2020-06-20 01:32] echlebek commented on #167
We've dropped support for these older Go versions.

[2020-06-20 01:32] #167 closed

[2020-06-20 01:35] echlebek commented on #170
We've upgraded the golang.org/x/tools dependency. Can you test with v1.3.0 and see if the issue resolves?

[2020-06-20 01:42] echlebek commented on #164
It should work just fine. Perhaps you need to `errcheck ./...`?

[2020-06-20 01:43] echlebek commented on #162
Hmm, I guess we can chalk it up to that `x/tools` bug? We've since dropped support for that Go version, so I'll close this issue.

[2020-06-20 01:43] #162 closed

[2020-06-20 01:44] #153 closed

[2020-06-20 02:54] #150 closed

[2020-06-21 08:52] echlebek opened #180 "Support comma-separated build tags"
Go has deprecated space-separated build tags, and while it still recognizes them, the documentation states that tags should be comma separated. We should give build tags the same treatment in errcheck.

[2020-06-27 08:39] amnonbc commented on #55
A good suggestion.
Lack of this option means you have to pollute your code with
`defer func() { _ = r.Body.Close() }()`.

And without this it the Go standard library fails errcheck.

The authors of. this very useful tool have strong opionions on this issue and do not what to add this feature,
as is there right.

But I am going to fork the repo to https://github.com/amnonbc/errcheck
to add in a `-i

[2020-06-27 09:54] amnonbc commented on #55
OK. I have hacked the code in my fork to ignore calls to`defer foo.Close()`

I would like to thank the authors of errcheck on writing an very useful tool,
and on writing clear, readable, idiomatic code.
I enjoyed hacking the code, and it taught me a lot about AST tree traversal.

Anyone who wants to avoid littering their code with `defer func() { _ resp.Body.Close()}()`
is welcome to use my fork h

[2020-06-28 07:06] amnonbc commented on #101
@k3a I have added this in my forked version of errcheck
https://github.com/amnonbc/errcheck

Enjoy!

[2020-06-28 07:07] amnonbc commented on #77
I have fixed this in my fork of errcheck
https://github.com/amnonbc/errcheck

[2020-06-30 20:30] amnonbc commented on #161
I recently had to fork this repo to stop it complaining about idiomatic code such as `defer resp.Body.Close()`

So I would urge the maintainers to avoid doing anything which increases false alarms,
and reduces the signal to noise ratio of the tool's output.

[2020-06-30 23:40] dragonsinth commented on #161
We use a custom exclusion list for this, but generally speaking I think it'd be nice if defering io.Close() was ok by default.

[2020-07-01 05:53] amnonbc commented on #161
feel free to use my patch https://github.com/amnonbc/errcheck/commit/cabf3a5aa199980ef2328c940d625989ea01a8b4

or even to use my fork https://github.com/amnonbc/errcheck

[2020-07-07 03:26] echlebek commented on #165
There aren't any plans to rewrite the tool. Contributions are welcome, but I have to wonder if integrating this library would lead to a wholly different program?

[2020-07-07 16:41] amnonbc commented on #180
build tags are going to change

See https://golang.org/s/go-build-design

[2020-07-29 15:19] #161 closed

[2020-08-02 04:34] SVilgelm opened #184 "Integration with golangci-lint"
Hi,
The `golangci-lint` has an integration with `errcheck`, but is very outdated. it uses a fork of `errcheck` to export some functions. So would it be possible to include code such this: https://github.com/golangci/errcheck/blob/master/golangci/golangci.go to `errcheck` repo?
I'm ready to raise a PR
I want to get rid of fork and use the main repo instead.

Thank you!

[2020-08-02 04:35] SVilgelm commented on #184
@kisielk Hi, could you please take a look at this?

[2020-08-02 05:24] kisielk commented on #184
So just to be clear about your request, you're basically asking to make the internal/errcheck package available as a regular importable package?

[2020-08-02 05:39] dtcaciuc commented on #151
Consider using `_ = myLocalFunc()`. This makes errcheck happy and it's also unambiguous that you're intentionally ignoring the error when someone reads the code.

[2020-08-02 05:42] echlebek commented on #184
https://github.com/kisielk/errcheck/pull/185 makes the errcheck package available.

[2020-08-02 11:46] SVilgelm commented on #184
@kisielk almost yes, if you can also change the `Checker.exclude` to be exported (`Checker.Exclude`), then golangci can use the `Checker` as a config

@echlebek Thank you so much for the PR, could you also change `Checker.exclude` to `Checker.Exclude`?

[2020-08-02 14:01] mxinden commented on #151
Thanks @dtcaciuc!

[2020-08-02 14:01] #151 closed

[2020-08-02 16:27] dtcaciuc commented on #105
If Close() and Rollback() and such can sometimes return legitimate errors, wouldn't you at least want to know about it? A simple thing to do here would be
[code]
If you really don't care about the error, you can write a similar function that, well, ignores error with `_ := c.Close()`, but then at least you're making it very clear that's your intention.

[2020-08-02 16:35] dtcaciuc commented on #174
I don't think it's possible to accurately determine whether it's a coding mistake or not. I've recently wrote some very similar looking code where I did exactly what you presented here, i.e. ignored a more closely scoped error and returned an error value computed elsewhere earlier.

[2020-08-02 16:38] dtcaciuc commented on #164
@mcandre Do you have an example of a repo we can try running errcheck on to reproduce the problem?

[2020-08-02 16:40] dtcaciuc commented on #169
Are you still getting this error? I ran this exact command and it completed successfully (go 1.14.6).

[2020-08-03 23:52] echlebek commented on #184
@SVilgelm just curious why you need this. Is there something you need to do that isn't covered by `AddExcludes()`?

[2020-08-03 23:56] SVilgelm commented on #184
in golangci-lint we have a special structure: https://github.com/golangci/errcheck/blob/master/golangci/golangci.go#L22
so the users can configure errcheck in the global config file, the structure is totally same as the `Checker`, except `Exclude` field, so I think it would be easier to use the `Checker` instead of implementing own `Config`

[2020-08-04 00:03] SVilgelm commented on #184
sorry, I was wrong, we actually don't need the Excludes to be exported, I can use `AddExcludes` function and will use the Checker directly here: https://github.com/golangci/golangci-lint/blob/master/pkg/golinters/errcheck.go#L107

[2020-08-04 00:05] SVilgelm commented on #184
so, give me a couple of days, I will test the golangci-lint with the #185 PR

[2020-08-04 04:03] #169 closed

[2020-08-04 04:04] echlebek commented on #170
Assuming this works now, please re-open if you find it's still a problem.

[2020-08-04 04:04] #170 closed

[2020-08-04 04:07] echlebek commented on #174
Agreed, I think there is too much ambiguity.

[2020-08-04 04:07] #174 closed

[2020-08-04 04:07] #180 closed

[2020-08-04 04:07] #164 closed

[2020-08-04 05:45] dtcaciuc commented on #169
We closed this due to inactivity, but please let us know if you're still having issues.

[2020-08-04 06:28] dtcaciuc commented on #132
I just tried out this example and it worked as expected. It looks like this was fixed in #137... Good to close?

[2020-08-05 02:04] kisielk commented on #132
Looks like it is fixed to me, there are test cases too.

[2020-08-05 02:04] #132 closed

[2020-08-13 18:11] #105 closed

[2020-08-19 19:18] echlebek opened #190 "Consider checking error assignments that shadow"
Reference: https://github.com/golang/go/issues/38832

[2020-09-28 17:11] seebs commented on #95
I implemented a thing like this: github.com/molecula/noticeme

It's slightly more paranoid than errcheck; for instance, it notices channel receives that aren't used.

[2020-09-28 17:14] seebs opened #191 "what about channel receives?"
While writing a similar tool, I ended up spending some time pondering under what circumstances Go allows a value to be generated-but-not-consumed. And there aren't all that many; it's mostly function call return values, since functions could have side-effects.

So could channel receives. So consider:

[code]

I would argue that this constitutes "failing to check an error".

[2020-09-28 17:37] mcandre commented on #163
👎

No. In a large linter suite, with many thousands of warnings, and many Go novice users, it is entirely unclear what the current line output format means. You have to expect that the user will be very confused with the too-minimal output.

A simple `errcheck: ` prefix or `Error value not checked: `, or similar message, really goes a long way toward expressing what the problem is, and helping gui

[2020-09-29 02:33] echlebek commented on #191
I like the idea. I'm a bit fuzzy on some of the details.

Ignoring for a moment that channel receives are a bit different to analyze than function calls, I'm wondering about the extent of channel receive scenarios that would be considered unchecked. Would we consider any channel receive that gets an error, and discards it, an errcheck error?

In addition to your example, what about these?

1.
[cod

[2020-09-29 17:00] seebs commented on #191
So, in the tool I wrote, I ignore questions like "channel receives" and "function calls", and just look at the type of the expression of an ExprStmt. But it occurs to me that range and select calls are also arguably examples, and I should think about that more.

I would consider any form of "use" (sending to a channel, passing to a function, etc.) to count as a valid "use". On the other hand, it s

[2020-10-16 17:51] krobelus opened #192 "Allow checking that excluded errors are always ignored"
We have code like

[code]

We always want to ignore these errors, so I want to add some `-exclude` or `-ignore` rules and use

[code]

However, to keep to code consistent we also need to guard against accidentally using
the deprecated `_, _ = buffer.WriteString("")` in future.

Would it be reasonable to be able to say "make sure that errors from `bytes.Buffer.Write*` are never used"?

I'm thinking

[2020-10-23 19:31] echlebek commented on #7
@kisielk should we close this, given that staticcheck has it covered?

[2020-10-23 19:36] kisielk commented on #7
I think it still falls in the scope of this package, maybe it will get added at some point

[2020-11-21 06:54] guiaramos opened #194 "zsh: command not found: errcheck"
Hi guys, I am new to golang and got this error on install this program:

[code]

my env is:
[code]

[2020-11-24 06:48] dtcaciuc commented on #194
Go get should install binaries into $GOPATH/bin, so in your case that would be `/Users/guilhermeramos/go/bin`. See if errcheck binary is there. If it is, then you just need to make sure that directory is in your shell's $PATH.

[2020-11-24 08:09] guiaramos commented on #194
@dtcaciuc  thanks for your reply

I did the following:

.zshrc
[code]

and its working.

[2020-11-24 08:09] #194 closed

[2020-12-10 07:41] echlebek commented on #184
@SVilgelm we've now published errcheck as a library. It does differ from what you were working with, but should meet your use case. If not, we'll do some follow-up work! Closing this now.

[2020-12-10 07:41] #184 closed

[2021-05-28 05:03] dtcaciuc commented on #165
The package now provides `errcheck.Analyzer`; see README for short description and API stability disclaimer. This makes errcheck go/analysis-compatible while keeping the existing CLI unchanged.

[2021-05-28 05:03] #165 closed

[2021-05-28 05:09] dtcaciuc commented on #190
Seems like there's already a go/analysis [component](https://pkg.go.dev/golang.org/x/tools@v0.1.2/go/analysis/passes/shadow) and [command line tool](https://pkg.go.dev/golang.org/x/tools@v0.1.2/go/analysis/passes/shadow/cmd/shadow) that do that.

Is this still worth adding a separate implementation to errcheck?

[2021-06-23 08:41] lance6716 opened #201 "How to run tests in this repo"
HI, I want to contribute a feature to errcheck, that is "statement returned error variables must be checked in next statement". This is my commit https://github.com/lance6716/errcheck/commit/43c9b804f2fa62ecd9865c9f440552ecfcd07621

Now I want to add tests to existing test files, but I'm not familiar with the structure of lint repo. Could someone help me to understand how to write a proper test? T

[2021-06-24 07:49] lance6716 commented on #171
there're other linters like https://github.com/jingyugao/rowserrcheck, https://github.com/ryanrolds/sqlclosecheck, maybe you could take a look.

[2021-09-25 01:14] chrisdlangton opened #203 "How does this differ from gosec G104"
If we already use https://github.com/securego/gosec like most teams do, how does errchecck help?

Is there a particular niche or set of edge cases missed by gosec that errcheck are better at identifying?

While I prefer gosec as it is easily integrated into a team with it's shared config file that handles project specific needs and all of the exceptions accepted and recorded so each team member do

[2021-09-25 01:24] kisielk commented on #203
Honestly I have no idea, I've never used gosec and am not familiar with it. As far as I can tell it was released to the public in 2016. I originally created errcheck as a weekend project for my own use and to learn the then-new go/types package back in 2013. I've never compared the feature set or tried to keep pace with any other tool, just maintain it based on user requests and to keep up with ne

[2021-09-25 01:24] #203 closed

[2021-09-27 15:11] lishunan246 commented on #155
What if I am using go modules rather than vendored dependencies?

[2022-02-12 02:33] Maxrovr opened #206 "errcheck throws unwarranted error"
golang version: >1.17

The following error occurs when running errcheck:
`error: failed to check packages: errors while loading package github.com/********-********/****************: [/Users/********/projects/go/src/github.com/********/********/********/********.go:line:col: MaxInt64 not declared by package math]`

To reproduce:
1. Install golang >v1.17
2. write code to use any of the constants in

[2022-02-12 02:36] kisielk commented on #206
Could you please post a link to a minimal package that reproduces this error when running errcheck?

[2022-02-13 17:01] Maxrovr commented on #206
[code]

running errcheck on this will reproduce the error

[2022-02-14 03:41] dtcaciuc commented on #206
I could not reproduce this with golang 1.17.5 🤔

[2022-02-14 17:38] Maxrovr commented on #206
I tried 1.17 and 1.17.2 and they both errored. Here is my console output.
[code]

[2022-02-15 01:35] dtcaciuc commented on #206
I originally tried it on Windows11/WSL, but now I also tried it on MacOS Catalina and I still can't reproduce the issue.

It's a wild guess, but could that MaxInt64 text in your file contain a unicode char that looks like an ASCII one? For instance, I was able to reproduce your error by substituting "a" with its first lookalike from this page https://gist.github.com/StevenACoffman/a5f6f682d94e38ed

[2022-03-22 14:38] Antonboom opened #208 "How to exclude builtin functions?"
Hi!

[code]

[code]

[2022-03-22 16:34] dtcaciuc commented on #208
Hello,

Right now excluding recover() is not possible. I personally think that recover() failure is something you want to handle one way or another but, if you really want to ignore it, the simplest thing right now would be to use `_ =` assignment.

[2022-03-22 17:44] Antonboom commented on #208
Sometimes it's ok to ignore `recover()` without explicit `_` and it doesn't matter since `recover()` is just a special case of a more general case.

Some examples from std:
[code]

[code]

[code]

If you see no reason to support specifying any functions to exclude - OK

[2022-03-23 18:23] 89z opened #209 "this value of err is never used (SA4006)"
Using this program:

[code]

With other tools [1], I get this error:

[code]

but nothing with ErrCheck. I am trying to find something that works with Go 1.18.

1. https://github.com/dominikh/go-tools

[2022-03-26 03:31] dtcaciuc commented on #209
Sorry, I don't really understand the last bit, is staticcheck from go-tools not working with 1.18?

Errcheck doesn't really do much aside from checking if you captured the returned error. AFAIK the idea is that you can combine it with other tools to perform further analysis.

[2022-03-26 03:37] dtcaciuc commented on #206
@Maxrovr ping

[2022-03-26 03:40] 89z commented on #209
staticcheck from go-tools does not work with 1.18 at this time

[2022-03-26 03:43] dtcaciuc commented on #209
Okay, I see. Other devs may weigh in on this as well, but I think your best bet would be to wait until the 1.18 compatibility.

[2022-03-26 04:13] dominikh commented on #209
It will in a couple of days :)

[2022-03-30 03:57] tuan-lm opened #210 "Add example in docs"
Should the doc have at least some example on how this will check ?
What code will give error, what won't ?

[2022-03-30 21:13] Maxrovr commented on #206
I tried this, but it was not the case, I have stopped using the const in my code for now and directly using the const value. Will investigate once I am able to

[2022-05-14 15:49] mcfog opened #211 "panic on embedding non-defined interface at `getEmbeddedInterfaceDefiningMethod`"
errcheck panics on following source file

[code]

[`embedded := interfaceT.Embedded(i)`](https://github.com/kisielk/errcheck/blob/e62617a91f7bd1abab2cbe7f28966188dd85eee0/errcheck/embedded_walker.go#L104) would be nil and panics on next line

[2022-05-20 08:47] dankox opened #212 "Unchecked error not reported when returned multiple values"
I'm not sure if this is a bug or I am just missing some configuration or setup, but it seems like functions which returns multiple values where `error` is the last are not checked.

[code]

The `Fprint` and `WriteString` functions are not reported. Not sure if it's related to just Reader/Writer or is a general thing.
I'm curious if there is a way to make it report these function calls too. The rea

[2022-05-20 18:57] kisielk commented on #212
Those two particular functions are in the default ignore set. Check the top of errcheck/excludes.go for a complete list.

[2022-05-20 19:17] dankox commented on #212
Oh cool, thanks a lot. Using `-excludeonly` resolved the problem for me.

[2022-05-20 19:17] #212 closed

[2022-05-20 23:12] #211 closed

[2022-05-24 11:06] m-kru opened #214 "Why does errcheck fail when method is assigned to variable?"
I have created simple reproducer.

[code]

[code]

[2022-06-02 21:10] #214 closed

[2022-06-03 06:22] m-kru commented on #214
@kisielk shouldn't it then either be improved or shouldn't it ignore this check. Right now it falsely fails and breaks the CI.

[2022-06-03 16:20] kisielk commented on #214
You can assign the result to _ to silence the error and make it explicitly ignored.

[2022-08-16 22:32] mmwtsn opened #216 "Check error methods on types"
Is there a way to check if the `Err` method on a type is called?

For example, the standard library's `bufio#Scanner` type:

[code]

Removing the `if err := scanner.Err()` block is not caught by errcheck.

[2022-09-28 03:08] windard opened #217 "Check for reassignment error"
In the following code, no linter error is raised. Is this case catchable?

[code]

[2022-10-01 01:17] dtcaciuc commented on #217
Not at the moment (see #7). We currently recommend to use https://staticcheck.io (in particular https://staticcheck.io/docs/checks/#SA4006)